<div class="list-flex-toolbar">
    <form [formGroup]="searchForm">
        <div class="control has-icon">
            <input class="input custom-text-filter" (ngModelChange)="searchCenters()" formControlName="name" placeholder="Appelation..." data-filter-target=".flex-table-item">
            <div class="form-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
            </div>
            
        </div>
    </form>

    <div class="buttons">
        <button class="button h-button is-primary is-elevated">
            <span class="icon">
              <i aria-hidden="true" class="fas fa-plus"></i>
          </span>
            <span (click) = "onAddCenter()">Créer un centre</span>
        </button>
    </div>

    
</div>
<div class="page-content-inner">

    <div class="flex-list-wrapper flex-list-v1">

        <!--List Empty Search Placeholder -->
        <div *ngIf="newListcenters.length == 0" class="page-placeholder custom-text-filter-placeholder">
            <div class="placeholder-content">
                <img class="light-image" src="assets/img/illustrations/placeholders/search-7.svg" alt="">
                <img class="dark-image" src="assets/img/illustrations/placeholders/search-7-dark.svg" alt="">
                <h3>Désolé la liste est actuellement vide.</h3>
                <p class="is-larger">Veuillez creer un centre pour qu'il soit afficher.</p>
            </div>
        </div>

        <div *ngIf="newListcenters.length != 0" class="flex-table">

            <!--Table header-->
            <div class="flex-table-header" data-filter-hide="">
                <!-- <span class="is-grow">Id</span> -->
                <span>Appelation</span>
                <span>Reference</span>
                <span>Zone(s)</span>
                <span>Club(s)</span>
                <span>Membre(s)</span>
                <span>Observation</span>
                <span class="cell-end">Actions</span>
            </div>

            <div class="flex-list-inner">
                <!--Table item-->
                <div class="flex-table-item" *ngFor="let center of newListcenters">
                    <div class="flex-table-cell" data-th="Appelation">
                        <span class="light-text" data-filter-match="">{{ center?.name }}</span>
                    </div>
                    <div class="flex-table-cell" data-th="Reference">
                        <span class="light-text" data-filter-match="">{{ center?.reference }}</span>
                    </div>
                    <div class="flex-table-cell" data-th="Zone(s)">
                        <span class="light-text" data-filter-match="">{{ center.areas.length }}</span>
                        <a (click)="onAddArea(center.id)" tooltip=" Ajouter une zone " theme='light' class="pagination-previous has-chevron"><i class="lnir lnir-plus"></i></a>
                    </div>
                    <div class="flex-table-cell" data-th="Club(s)">
                        <span class="light-text" data-filter-match="">{{ center?.clubs?.length}}</span>
                    </div>
                    <div class="flex-table-cell" data-th="Membre(s)">
                        <span class="light-text" data-filter-match="">{{ center?.members?.length }}</span>
                    </div>
                    <div class="flex-table-cell" data-th="Observation">
                        <span class="light-text" data-filter-match="">{{ center?.observation }}</span>
                    </div>
                    <div class="flex-table-cell cell-end" data-th="Actions">
                        <div class="dropdown is-spaced is-dots is-right dropdown-trigger is-pushed-mobile">
                        
                            <a _ngcontent-nct-c62=""  [routerLink]="['/view-more-area']"
                        [queryParams]="{id: center.id}" tooltip=" Voir details centre " theme='light' class="pagination-previous has-chevron" style="color: blue"> <i class="lnil lnil-eye"></i></a>
                        <a _ngcontent-nct-c62="" (click)="onUpdateCenter(center.id)" tooltip=" Modifier le centre " theme='light' class="pagination-previous has-chevron"><i class="lnir lnir-pencil"></i></a>
                        <a _ngcontent-nct-c62="" (click)="onDeleteCenter(center.id)" tooltip=" Supprimer le centre " theme='light' class="pagination-previous has-chevron" style="color: brown"><i class="lnil lnil-trash-can-alt"></i></a>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--Table Pagination-->
        <nav class="flex-pagination pagination is-rounded" aria-label="pagination" data-filter-hide="">
            <a class="pagination-previous has-chevron"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg></a>
            <a class="pagination-next has-chevron"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></a>
            <ul class="pagination-list">
                <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                <li><span class="pagination-ellipsis">…</span></li>
                <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a>
                </li>
                <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                <li><span class="pagination-ellipsis">…</span></li>
                <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
            </ul>
        </nav>
    </div>

</div>

<!-- add new center -->
<div class="modal h-modal" [ngClass]="openAddCenter">
    <div class="modal-background h-modal-close"></div>
    <div class="modal-content">
        <div class="modal-card">
            <header class="modal-card-head">
                <h3>Création d'un centre</h3>
                <button class="h-modal-close ml-auto" aria-label="close" (click)="onCloseAddModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </header>
            <div class="modal-card-body">
                <div class="inner-content">
                    <form class="modal-form" [formGroup]="addCenterForm" (ngSubmit)="onSubmitCenter()">
                        <div class="field">
                            <label>Appelation *</label><br>
                            <div class="control">
                                <input type="text" class="input" placeholder="Appelation" formControlName="name">
                            </div>
                            <div class="text-danger"
                                *ngIf="addCenterForm.get('name')?.errors?.['required'] && addCenterForm.get('name')?.touched">
                                <small class="text-police" translate>entrer l'appelation du centre</small>
                            </div>
                        </div>
                        <div class="field">
                            <label>Reférence *</label><br>
                            <div class="control">
                                <input type="text" class="input" placeholder="Reférence" formControlName="reference">
                            </div>
                            <div class="text-danger"
                                *ngIf="addCenterForm.get('reference')?.errors?.['required'] && addCenterForm.get('reference')?.touched">
                                <small class="text-police" translate>entrer la reférence du centre</small>
                            </div>
                        </div>
                        <div class="field">
                            <label>Date de creation *</label><br>
                            <div class="card-header-widget datepicker-style">
                                <div class="input-daterange input-group align-items-center">
                                    <input class="champ" formControlName="creationDate" max="{{ maxCreationAreaDate }}" type="date" id="DOB" name="DOB"  [(ngModel)]="createDate" (input)="onSelectCreateDate($event.timeStamp)">
                                </div>
                           </div>
                           <div class="text-danger" *ngIf="addCenterForm.get('creationDate')?.errors?.['required'] && addCenterForm.get('creationDate')?.touched">
                             <small class="text-police" translate>selectionner la date de création</small>
                           </div>
                        </div>

                        <div class="field">
                            <label>Observation</label>
                            <div class="control">
                                <textarea class="textarea" rows="4"
                                    formControlName="observation" placeholder="Observation..."></textarea>
                            </div>
                        </div>
                        <br>
                        <div class="control login">
                            <button [disabled]="addCenterForm.invalid || isSaving"
                                class="button h-button is-primary is-bold is-fullwidth is-raised">Enregistrer</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-card-foot is-end">
                <a class="button h-button is-rounded h-modal-close" (click)="onCloseAddModal()">Annuler</a>
            </div>
        </div>
    </div>
</div>

<!-- Update Center -->
<div class="modal h-modal" [ngClass]="openUpdateCenter">
    <div class="modal-background h-modal-close"></div>
    <div class="modal-content">
        <div class="modal-card">
            <header class="modal-card-head">
                <h3>Modifier le centre</h3>
                <button class="h-modal-close ml-auto" aria-label="close" (click)="onCloseUpdateModale()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </header>
            <div class="modal-card-body">
                <div class="inner-content">
                    <form class="modal-form" [formGroup]="updateCenterForm" (ngSubmit)="onSubmitUpdateCenter()">
                        <input type="hidden"  [(ngModel)]="center.id" class="input" hidden formControlName="id">
                        <div class="field">
                            <label>Appelation *</label><br>
                            <div class="control">
                                <input type="text" class="input" [(ngModel)]="center.name" placeholder="Appelation" formControlName="name">
                            </div>
                            <div class="text-danger"
                                *ngIf="updateCenterForm.get('name')?.errors?.['required'] && updateCenterForm.get('name')?.touched">
                                <small class="text-police">Entrer l'appelation du centre</small>
                            </div>
                        </div><br>
                        <div class="field">
                            <label>Reference *</label><br>
                            <div class="control">
                                <input type="text" class="input" [(ngModel)]="center.reference" placeholder="Reference" formControlName="reference">
                            </div>
                            <div class="text-danger"
                                *ngIf="updateCenterForm.get('reference')?.errors?.['required'] && updateCenterForm.get('reference')?.touched">
                                <small class="text-police">Entrer la reference du centre</small>
                            </div>
                        </div><br>
                        <div class="field">
                            <label>Observation *</label><br>
                            <div class="control">
                                <textarea type="text" class="textarea" [(ngModel)]="center.observation" placeholder="Observation" formControlName="observation"></textarea>
                            </div>
                            <div class="text-danger"
                                *ngIf="updateCenterForm.get('observation')?.errors?.['required'] && updateCenterForm.get('observation')?.touched">
                                <small class="text-police">Entrer l'observation du centre</small>
                            </div>
                        </div><br>
                        <div class="control login">
                            <button [disabled]="updateCenterForm.invalid || isSaving"
                                class="button h-button is-primary is-bold is-fullwidth is-raised">Modifier</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-card-foot is-end">
                <a class="button h-button is-rounded h-modal-close" (click)="onCloseUpdateModale()">Annuler</a>
            </div>
        </div>
    </div>
</div>

<!-- add area -->
<div class="modal h-modal" [ngClass]="openAreaModal">
    <div class="modal-background h-modal-close"></div>
    <div class="modal-content">
        <div class="modal-card">
            <header class="modal-card-head">
                <h3>Ajout d'une zone</h3>
                <button class="h-modal-close ml-auto" aria-label="close" (click)="closeAreaModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </header>
            <div class="modal-card-body">
                <div class="inner-content">
                    <form class="modal-form" [formGroup]="addAreaForm" (ngSubmit)="onSubmitArea()">
                        <div class="field">
                            <div>
                                <label>Zone *</label><br>
                                <select class="input_comp" formControlName="idArea" aria-label="Default select example"  [(ngModel)]="ngSelectArea">
                                    <option value="0" disabled>--selectionner une zone--</option>
                                    <option *ngFor="let area of areas" [value]="area.id" >{{ area.name }}</option>
                                </select>
                                <div class="text-danger"
                                *ngIf="addAreaForm.get('idArea')?.errors?.['required'] && addAreaForm.get('idArea')?.touched">
                                <small class="text-police" translate>selectionner une zone</small>
                                </div>
                            </div><br>

                            <div class="control login">
                                <button [disabled]="addAreaForm.invalid || isSaving"
                                    class="button h-button is-primary is-bold is-fullwidth is-raised">Ajouter</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-card-foot is-end">
                <a class="button h-button is-rounded h-modal-close" (click)="closeAreaModal()">Annuler</a>
            </div>
        </div>
    </div>
</div>
