<nav class="navbar mobile-navbar is-hidden-desktop is-hidden-tablet no-shadow" aria-label="main navigation">
    <div class="container">
        <!-- Brand -->
        <div class="navbar-brand">
            <!-- Mobile menu toggler icon -->
            <div class="brand-start" (click)="activeMobileSider()">
                <div class="navbar-burger" [ngClass]="activeBurger" >
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <a class="navbar-item is-brand" [routerLink]="['/organization/users/']">
                <img class="light-image" src="https://res.cloudinary.com/b2i-group/image/upload/v1673430526/kunta-organisation/img/logo_p4a6oz.svg" alt="">
                <img class="dark-image" src="https://res.cloudinary.com/b2i-group/image/upload/v1673430526/kunta-organisation/img/logo-light_dwxxh6.svg" alt="">
            </a>

            <div class="brand-end">
                <div class="dropdown is-right is-spaced dropdown-trigger user-dropdown" [ngClass]="activeProfil" (click)="onActive()">
                    <div class="is-trigger" aria-haspopup="true">
                        <div class="profile-avatar">
                            <img class="avatar" src="{{ imageUrl }}" data-demo-src="assets/img/avatars/photos/8.jpg" alt="">
                        </div>
                    </div>
                    <div class="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            <div class="dropdown-head">
                                <div class="h-avatar is-large">
                                    <img class="avatar" src="{{ imageUrl }}" data-demo-src="assets/img/avatars/photos/8.jpg" alt="">
                                </div>
                                <div class="meta">
                                    <span>{{user.firstName}} {{user.lastName}}</span>
                                    <span>Connecté</span>
                                </div>
                            </div>
                            <hr class="dropdown-divider">
                            <div class="dropdown-item is-button">
                                <button [routerLink]="['/profile/']" (click)="onClickProfil()" class="button h-button is-raised is-fullwidth">
                                    <span class="icon is-small">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                    </span>
                                    <span>Gérer mon compte</span>
                                </button>
                            </div>
                            <div class="dropdown-item is-button">
                                <button (click)="logout()" class="button h-button is-primary is-raised is-fullwidth logout-button">
                                    <span class="icon is-small">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
                                  </span>
                                    <span>Se déconnecter</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</nav>