<!-- <div class="list-flex-toolbar">
    <div class="control has-icon">
        <input class="input custom-text-filter" placeholder="Search..." data-filter-target=".flex-table-item">
        <div class="form-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
        </div>
    </div>
</div> -->

<div class="page-content-inner">

    <div class="flex-list-wrapper flex-list-v1">

        <!--List Empty Search Placeholder -->
        <div *ngIf="penaltyTypes.length == 0" class="page-placeholder custom-text-filter-placeholder">
            <div class="placeholder-content">
                <img class="light-image" src="assets/img/illustrations/placeholders/search-7.svg" alt="">
                <img class="dark-image" src="assets/img/illustrations/placeholders/search-7-dark.svg" alt="">
                <h3>Désolé la liste est actuellement vide.</h3>
                <p class="is-larger">Veuillez creer/ajouter un type pour qu'il soit afficher.</p>
            </div>
        </div>
        
        <div *ngIf="penaltyTypes.length != 0" class="flex-table">

            <!--Table header-->
            <div class="flex-table-header" data-filter-hide="">
                <span class="is-grow">Id</span>
                <span>Montant</span>
                <span>Appelation</span>
                <span>Actions</span>
            </div>
            <div class="flex-list-inner">
                <div class="flex-table-item" *ngFor="let penaltyType of penaltyTypes">
                    <div class="flex-table-cell is-media is-grow">
                        <div>
                            <span class="item-name dark-inverted" data-filter-match="">{{ penaltyType.id }}</span>
                            <span class="item-meta">
                              <span data-filter-match="">{{ penaltyType.amount }}</span>
                            </span>
                        </div>
                    </div>
                    <div class="flex-table-cell" data-th="Montant">
                        <span class="light-text" data-filter-match="">{{ penaltyType.amount }}</span>
                    </div>
                    <div class="flex-table-cell" data-th="Appelation">
                        <span class="light-text" data-filter-match="">{{ penaltyType.label }}</span>
                    </div>
                    <div class="flex-table-cell cell-end" data-th="Actions">
                        <div class="dropdown is-spaced is-dots is-right dropdown-trigger is-pushed-mobile">
                        <a _ngcontent-nct-c62="" tooltip=" Modifier type de penalité " theme='light' (click)="onUpdatePenaltyType(penaltyType.id)" class="pagination-previous has-chevron"><i class="lnir lnir-pencil"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--Table Pagination-->
        <nav class="flex-pagination pagination is-rounded" aria-label="pagination" data-filter-hide="">
            <a class="pagination-previous has-chevron"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg></a>
            <a class="pagination-next has-chevron"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></a>
            <ul class="pagination-list">
                <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                <li><span class="pagination-ellipsis">…</span></li>
                <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a>
                </li>
                <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                <li><span class="pagination-ellipsis">…</span></li>
                <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
            </ul>
        </nav>
    </div>
</div>

<!-- update penaltyType -->
<div id="updatePenaltyType" class="modal h-modal" [ngClass]="openPenaltyTypeModal">
    <div class="modal-background h-modal-close"></div>
    <div class="modal-content">
        <div class="modal-card">
            <header class="modal-card-head">
                <h3>Modification du type de pénalité</h3>
                <button class="h-modal-close ml-auto" aria-label="close" (click)="closePenaltyTypeModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </header>
            <div class="modal-card-body">
                <div class="inner-content">
                    <form class="modal-form" [formGroup]="penaltyTypeForm" (ngSubmit)="onSubmitUpdatePenaltyType(penaltyType.id)">
                        <div class="field">
                            <label>Montant pénalité*</label><br>
                            <div class="control">
                                <input type="number" [(ngModel)]="penaltyType.amount" class="input" placeholder="Montant" formControlName="amount">
                            </div>
                            <div class="text-danger"
                                *ngIf="penaltyTypeForm.get('amount')?.errors?.['required'] && penaltyTypeForm.get('amount')?.touched">
                                <small class="text-police">veuillez entrer le montant du type de paiement</small>
                             </div>
                        </div>
                        
                        <div class="field">
                            <label>Appelation*</label><br>
                            <div class="control">
                                <input type="text" [(ngModel)]="penaltyType.label" class="input" placeholder="Appellation" formControlName="label">
                            </div>
                            <div class="text-danger"
                                *ngIf="penaltyTypeForm.get('label')?.errors?.['required'] && penaltyTypeForm.get('label')?.touched">
                                <small class="text-police">veuillez entrer l'appelation du type de paiement</small>
                             </div>
                        </div>
                        <div class="control login">
                            <button class="button h-button is-primary is-bold is-fullwidth is-raised" [disabled] ="penaltyTypeForm.invalid" >Modifier</button>
                        </div><br>
                       
                    </form>
                </div>
            </div>
            <div class="modal-card-foot is-end">
                <a class="button h-button is-rounded h-modal-close" (click)="closePenaltyTypeModal()">Annuler</a>
            </div>
        </div>
    </div>
</div>
