/* FORM INPUT PRIMARY COMP */
.input_comp {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 100%;
    color: inherit;
    border: 1px solid #9ca3af;
    border-radius: var(--rounded-base);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    background-color: transparent;
  }
  
  .input_comp:hover {
    border-color: var(--secondary-color);
  }
  
  .input_comp:focus {
    border-color: var(--secondary-color);
  }
  
  .input_comp:focus-visible {
    outline-offset: 0px;
    outline-width: 0px;
  }
  
  .input_comp svg {
    position: absolute;
    right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    color: var(--primary-color-base);
    cursor: pointer;
    z-index: 0;
  }
  
  .input_comp svg.number {
    /* right: 2.5rem; */
  }
  
  .input_comp:hover svg {
    color: var(--primary-color-base);
  }
  
  .input_comp .blue {
    fill: var(--primary-color-base);
  }
  


  .card-header-widget.datepicker-style {
    max-width: 700px;
  }
  
  .datepicker-style input {
    border: none;
    font-size: 14px;
    padding: 0px;
    cursor: pointer;
    box-shadow: none !important;
    font-weight: 500;
    color: #040404;
  }
  
  .datepicker-style i {
    font-size: 14px;
    min-width: 20px;
  }
  
  .datepicker-style i {
    min-width: 20px;
  }
  
  .card-header-widget {
    background: #fff;
    border: 1px solid #EBEDED;
    border-radius: 6px;
    /* box-shadow: 0px 1px 4px rgb(199 199 199 / 35%); */
    min-height: 48px;
    padding: 5px 25px;
    display: inline-flex;
    align-items: center;
  }
  
  .card-header-widget+.card-header-widget {
    margin-left: 20%;
  }
  
  .card-header-widget.datepicker-style {
    max-width: 700px;
  }
  