<div id="layouts-sidebar" class="sidebar-panel is-generic" [ngClass]="homeSider">
    <div class="subpanel-header">
        <div class="dropdown project-dropdown dropdown-trigger is-spaced">
            <div class="h-avatar is-small">
                <span class="avatar is-fake is-h-green">
                  <span>H</span>
                </span>
            </div>
            <span class="status-indicator"></span>
            <div class="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    <div class="dropdown-block">
                        <div class="h-avatar is-small">
                            <span class="avatar is-fake is-warning">
                              <span>D</span>
                            </span>
                        </div>
                        <div class="meta">
                            <span class="dark-inverted">Delivery App Project</span>
                            <span>Food For Good</span>
                        </div>
                    </div>
                    <div class="dropdown-block">
                        <div class="h-avatar is-small">
                            <span class="avatar is-fake is-h-green">
                              <span>M</span>
                            </span>
                        </div>
                        <div class="meta">
                            <span class="dark-inverted">Health and Fitness Dashboard</span>
                            <span>Fit'n'Dance</span>
                        </div>
                    </div>
                    <div class="dropdown-block">
                        <div class="h-avatar is-small">
                            <span class="avatar is-fake is-info">
                              <span>L</span>
                            </span>
                        </div>
                        <div class="meta">
                            <span class="dark-inverted">Learning Tracker Dashboard</span>
                            <span>Fit'n'Dance</span>
                        </div>
                    </div>
                    <div class="dropdown-block">
                        <div class="h-avatar is-small">
                            <span class="avatar is-fake is-h-purple">
                              <span>B</span>
                            </span>
                        </div>
                        <div class="meta">
                            <span class="dark-inverted">Banking and Finance Dashboard</span>
                            <span>H Bank</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="no-mb">Management</h3>
        <div class="panel-close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
        </div>
    </div>
    <div class="inner" data-simplebar="init"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;"><div class="simplebar-content" style="padding: 0px;">
        <ul>
        </ul>
    </div></div></div></div><div class="simplebar-placeholder" style="width: auto; height: 643px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 496px; transform: translate3d(0px, 0px, 0px); display: block;"></div></div></div>
</div>

<div id="app-hr" class="view-wrapper" [ngClass]="isPushed" data-naver-offset="150" data-menu-item="#home-sidebar-menu"
    data-mobile-item="#home-sidebar-menu-mobile">
    <div class="page-content-wrapper">
        <div class="page-content is-relative">
            <div class="page-title has-text-centered">
                <!-- Sidebar Trigger -->
                <div class="huro-hamburger nav-trigger push-resize" data-sidebar="layouts-sidebar">
                    <span class="menu-toggle has-chevron">
                      <span class="icon-box-toggle" [ngClass]="activeToggle" (click)="activeHomeSider()">
                          <span class="rotate">
                              <i class="icon-line-top"></i>
                              <i class="icon-line-center"></i>
                              <i class="icon-line-bottom"></i>
                          </span>
                    </span>
                    </span>
                </div>
                <div class="title-wrap">
                    <h1 class="title is-4">Offre(s) de souscription</h1>
                </div>
            </div>
            <a (click)="backBack()" tooltip=" Retour " theme='light' class="pagination-previous has-chevron"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg></a><br><br>
            
            <div class="list-flex-toolbar">
                <div class="control has-icon">
                    <input class="input custom-text-filter" placeholder="Search..." data-filter-target=".flex-table-item">
                    <div class="form-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                    </div>
                </div>

                <div class="buttons" (click)="onOpenAddSubscriptionOffer()">
                    <button class="button h-button is-primary is-elevated">
                        <span class="icon">
                        <i aria-hidden="true" class="fas fa-plus"></i>
                    </span>
                        <span>Créer une offre</span>
                    </button>
                </div>
            </div>

            <div class="page-content-inner">

                <div class="flex-list-wrapper flex-list-v1">

                    <!--List Empty Search Placeholder -->
                    <div *ngIf="offers.length == 0 && show" class="page-placeholder custom-text-filter-placeholder">
                        <div class="placeholder-content">
                            <img class="light-image" src="assets/img/illustrations/placeholders/search-7.svg" alt="">
                            <img class="dark-image" src="assets/img/illustrations/placeholders/search-7-dark.svg" alt="">
                            <h3>Désolé la liste est actuellement vide.</h3>
                            <p class="is-larger">Veuillez creer/ajouter une offre pour qu'elle soit afficher.</p>
                        </div>
                    </div>
                    
                    <div *ngIf="offers.length != 0" class="flex-table">

                        <!--Table header-->
                        <div class="flex-table-header" data-filter-hide="">
                            <span class="is-grow">Id</span>
                            <span>Type de rentabilité</span>
                            <span>Taux de rentabilité</span>
                            <span>Niveau de risque</span>
                            <span>Souscriptions</span>
                            <span class="cell-end">Actions</span>
                        </div>
            
                        <div class="flex-list-inner">
                            <!--Table item-->
                            <div class="flex-table-item" *ngFor="let offer of offers">
                                <div class="flex-table-cell is-media is-grow">
                                    <div>
                                        <span class="item-name dark-inverted" data-filter-match="">{{offer.id}}</span>
                                    </div>
                                </div>
                                <div class="flex-table-cell" data-th="Type de rentabilité">
                                    <span class="light-text" data-filter-match="">{{offer.profitabilityType.label}}</span>
                                </div>
                                <div class="flex-table-cell" data-th="Taux de rentabilité">
                                    <span class="light-text" data-filter-match="">{{offer.profitabilityRate}}</span>
                                </div>
                                <div class="flex-table-cell" data-th="Niveau de risque">
                                    <span class="light-text" data-filter-match="">{{ offer.riskProfile.riskLevel }}</span>
                                </div>
                                <div class="flex-table-cell" data-th="Souscriptions">
                                    <span class="light-text" data-filter-match="">{{ offer.subscriptions.length }}</span>
                                    <a class="pagination-previous has-chevron" tooltip=" Ajouter une souscription " theme='light' (click)="onOpenAddSubscription(offer.id)"><i class="lnir lnir-plus"></i></a>
                                    <a _ngcontent-nct-c62="" [routerLink]="['/view-detail-subscription']"
                                    [queryParams]="{id: offer.id, idInvestment: idInvestment}" tooltip=" Voir details souscription " theme='light' class="pagination-previous has-chevron" style="color: blue"> <i class="lnil lnil-eye"></i></a>
                                </div>
                                <div class="flex-table-cell cell-end" data-th="Actions">
                                    <div class="dropdown is-spaced is-dots is-right dropdown-trigger is-pushed-mobile">
                                    <a _ngcontent-nct-c62="" tooltip=" Modifier offre " theme='light' (click)="onOpenUpdateModal(offer.id)" class="pagination-previous has-chevron"><i class="lnir lnir-pencil"></i></a>
                                    <a _ngcontent-nct-c62="" tooltip=" Supprimer offre" theme='light' (click)="onDelete(offer.id)" class="pagination-previous has-chevron" style="color: brown"><i class="lnil lnil-trash-can-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                    </div>

                    <!--Table Pagination-->
                    <nav class="flex-pagination pagination is-rounded" aria-label="pagination" data-filter-hide="">
                        <a class="pagination-previous has-chevron"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg></a>
                        <a class="pagination-next has-chevron"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></a>
                        <ul class="pagination-list">
                            <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                            <li><span class="pagination-ellipsis">…</span></li>
                            <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                            <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a>
                            </li>
                            <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                            <li><span class="pagination-ellipsis">…</span></li>
                            <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
                        </ul>
                    </nav>
                </div>

            </div>

        </div>
    </div>

</div>

<!-- add Subscription Offer -->
<div id="addSubscriptionOffer" class="modal h-modal" [ngClass]="openOfferModal">
    <div class="modal-background h-modal-close"></div>
    <div class="modal-content">
        <div class="modal-card">
            <header class="modal-card-head">
                <h3>Ajout Offre</h3>
                <button class="h-modal-close ml-auto" aria-label="close" (click)="closeSubscriptionOfferModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </header>
            <div class="modal-card-body">
                <div class="inner-content">
                    <form class="modal-form" [formGroup]="addSubscriptionOfferForm" (ngSubmit)="onAddSubscriptionOffer()">
                        <div class="field">
                            <label>Niveau de risque *</label>
                            <select class="input_comp color-border" aria-label="Default select example" formControlName="idProfile" [(ngModel)]="ngSelect3">
                                <option value="0" disabled>--Selectionnez un niveau de risque--</option>
                                <option *ngFor="let risk of riskProfiles" [value]="risk.id"> <span> {{ risk.riskLevel }}  </span> </option>
                            </select><br><br>
                        </div>

                        <div class="field">
                            <label>Type de rentabilité *</label>
                            <select class="input_comp color-border" aria-label="Default select example" formControlName="idProfitabilityType" [(ngModel)]="ngSelect4" (ngModelChange)="onOfferProfitabilitySelected($event)">
                                <option value="0" disabled>--Selectionnez un type de rentabilité--</option>
                                <option *ngFor="let profitability of profitabilityTypes" [value]="profitability.id"> <span> {{ profitability.label }}  </span> </option>
                            </select><br><br>
                        </div>

                        <div class="field" *ngIf="isOfferCertain">
                            <label>Taux de rentabilité </label><br>
                            <div class="control">
                                <input type="number" class="input" placeholder="Taux de rentabilité" formControlName="profitabilityRate" >
                            </div>
                        </div><br>
                       
                        <div class="control login">
                            <button class="button h-button is-primary is-bold is-fullwidth is-raised" [disabled]="addSubscriptionOfferForm.invalid || isSaving" >Enregistrer</button>
                        </div><br>
                       
                    </form>
                </div>
            </div>
            <div class="modal-card-foot is-end">
                <a class="button h-button is-rounded h-modal-close" (click)="closeSubscriptionOfferModal()">Annuler</a>
            </div>
        </div>
    </div>
</div>

<!-- Update Subscription Offer -->
<div id="updateOfferForm" class="modal h-modal" [ngClass]="openUpdateModal">
    <div class="modal-background h-modal-close"></div>
    <div class="modal-content">
        <div class="modal-card">
            <header class="modal-card-head">
                <h3>Modification d'une offre de souscription</h3>
                <button class="h-modal-close ml-auto" aria-label="close" (click)="closeUpdateOfferModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </header>
            <div class="modal-card-body">
                <div class="inner-content">
                    <form class="modal-form" [formGroup]="updateOfferForm" (ngSubmit)="onSubmitUpdateOfferForm(offer.id)">
                        <div class="field" *ngIf="offer.profitabilityRate">
                            <label>Taux de rentabilité </label>
                            <div class="control">
                                <input type="number" class="input" [(ngModel)]="offer.profitabilityRate" placeholder="Taux de rentabilité" formControlName="profitabilityRate">
                            </div>
                            <div class="text-danger"
                                *ngIf="updateOfferForm.get('profitabilityRate')?.errors?.['required'] && updateOfferForm.get('profitabilityRate')?.touched">
                                <small class="text-police" translate>veuillez entrer le taux de rentabilité </small>
                             </div>
                        </div>
                        <div class="control login">
                            <button class="button h-button is-primary is-bold is-fullwidth is-raised" [disabled]="updateOfferForm.invalid || isSaving">Modifer</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-card-foot is-end">
                <a class="button h-button is-rounded h-modal-close" (click)="closeUpdateOfferModal()">Annuler</a>
            </div>
        </div>
    </div>
</div>

<!-- add Subscription -->
<div id="addSubscription" class="modal h-modal" [ngClass]="openSubscriptionModal">
    <div class="modal-background h-modal-close"></div>
    <div class="modal-content">
        <div class="modal-card">
            <header class="modal-card-head">
                <h3>Ajout Souscription </h3>
                <button class="h-modal-close ml-auto" aria-label="close" (click)="closeSubscriptionModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </header>
            <div class="modal-card-body">
                <div class="inner-content">
                    <form class="modal-form" [formGroup]="addSubscriptionForm" (ngSubmit)="onAddSubscription()">
                        <div class="field">
                            <label>Niveau de risque *</label>
                            <select class="input_comp color-border" aria-label="Default select example" formControlName="idRiskProfile" [(ngModel)]="ngSelect1">
                                <option value="0" disabled>--Selectionnez un niveau de risque--</option>
                                <option *ngFor="let risk of riskProfiles" [value]="risk.id"> <span> {{ risk.riskLevel }}  </span> </option>
                            </select><br><br>
                        </div>

                        <div class="field">
                            <label>Souscripteur *</label>
                            <select *ngIf="users.length != 0" class="input_comp color-border" aria-label="Default select example" formControlName="idSubscriber" [(ngModel)]="ngSelect2">
                                <option value="0" disabled>--Selectionnez un souscripteur--</option>
                                <option *ngFor="let user of users" [value]="user.id"> <span> {{ user.firstName }} {{ user.lastName }}  </span> </option>
                            </select>
                            <div class="text-danger"
                            *ngIf="users.length == 0">
                            <small class="text-police">Aucun utlisateur dans le centre de ce placement. Utilisateur indispensable pour la souscription.</small>
                            </div><br><br>
                        </div>

                        <div class="field">
                            <label>Montant *</label><br>
                            <div class="control">
                                <input type="number" class="input" placeholder="Montant" formControlName="amount" >
                                <div class="text-danger"
                                *ngIf="addSubscriptionForm.get('amount')?.errors?.['required'] && addSubscriptionForm.get('amount')?.touched">
                                <small class="text-police">veuillez entrer le montant a souscrire</small>
                                </div>
                            </div>
                        </div><br>
                       
                        <div class="control login">
                            <button class="button h-button is-primary is-bold is-fullwidth is-raised" [disabled]="addSubscriptionForm.invalid || isSaving" >Enregistrer</button>
                        </div><br>
                       
                    </form>
                </div>
            </div>
            <div class="modal-card-foot is-end">
                <a class="button h-button is-rounded h-modal-close" (click)="closeSubscriptionModal()">Annuler</a>
            </div>
        </div>
    </div>
</div>