<div id="layouts-sidebar" class="sidebar-panel is-generic" [ngClass]="homeSider">
    <div class="subpanel-header">

        <div class="dropdown project-dropdown dropdown-trigger is-spaced">
            <div class="h-avatar is-small">
                <span class="avatar is-fake is-h-green">
                  <span>H</span>
                </span>
            </div>
            <span class="status-indicator"></span>

            <div class="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    <div class="dropdown-block">
                        <div class="h-avatar is-small">
                            <span class="avatar is-fake is-warning">
                              <span>D</span>
                            </span>
                        </div>
                        <div class="meta">
                            <span class="dark-inverted">Delivery App Project</span>
                            <span>Food For Good</span>
                        </div>
                    </div>
                    <div class="dropdown-block">
                        <div class="h-avatar is-small">
                            <span class="avatar is-fake is-h-green">
                              <span>M</span>
                            </span>
                        </div>
                        <div class="meta">
                            <span class="dark-inverted">Health and Fitness Dashboard</span>
                            <span>Fit'n'Dance</span>
                        </div>
                    </div>
                    <div class="dropdown-block">
                        <div class="h-avatar is-small">
                            <span class="avatar is-fake is-info">
                              <span>L</span>
                            </span>
                        </div>
                        <div class="meta">
                            <span class="dark-inverted">Learning Tracker Dashboard</span>
                            <span>Fit'n'Dance</span>
                        </div>
                    </div>
                    <div class="dropdown-block">
                        <div class="h-avatar is-small">
                            <span class="avatar is-fake is-h-purple">
                              <span>B</span>
                            </span>
                        </div>
                        <div class="meta">
                            <span class="dark-inverted">Banking and Finance Dashboard</span>
                            <span>H Bank</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="no-mb">Management</h3>
        <div class="panel-close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
        </div>
    </div>
    <div class="inner" data-simplebar="init"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;"><div class="simplebar-content" style="padding: 0px;">
        <ul>
            <li class="has-children" [ngClass]="activeListCenter">
                <div class="collapse-wrap">
                    <a href="javascript:void(0);" (click)="onListCenter()" class="parent-link">{{ centerName }} <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></a>
                </div>
                <ul [style.display]="wrapdwonCenter">
                    <li>
                        <a (click)="onListAreas()" class="is-submenu">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Toutes les zones</span>
                        </a>
                    </li> 
                     <li>
                        <a (click)="onAccountant()" class="is-submenu">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Comptable</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="onAdminSys()" class="is-submenu">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Administrateur Système</span>
                        </a>
                    </li>

                    <li style="margin-bottom: 10px;">
                        <a (click)="onMemberGeneralAssembly()" class="is-submenu">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Assemblée générale des membres</span>
                        </a>
                    </li>
                    <li style="margin-bottom: 10px;">
                        <a (click)="onDevelopmentCommitteeCenter()" class="is-submenu">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Comité de Développement</span>
                        </a>
                    </li>
                   
                    <li style="margin-bottom: 10px;">
                        <a (click)="onGeneralAssemblyCenter()" class="is-submenu">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Assemblée représentative des Clubs</span>
                        </a>
                    </li>
                    <li style="margin-bottom: 10px;">
                        <a (click)="onExecutiveBoardCenter()" class="is-submenu">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Conseil d’Administration</span>
                        </a>
                    </li>
                    <li style="margin-bottom: 10px;">
                        <a (click)="onMemberToGcc()" class="is-submenu">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Comité de Gouvernance et des Rémunérations</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="onProductionmanager()" class="is-submenu">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Responsable de Production</span>
                        </a>
                    </li> 
                </ul>
            </li>
        </ul>
    </div></div></div></div><div class="simplebar-placeholder" style="width: auto; height: 643px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 496px; transform: translate3d(0px, 0px, 0px); display: block;"></div></div></div>
</div>

<div id="app-hr" class="view-wrapper" [ngClass]="isPushed" data-naver-offset="150" data-menu-item="#home-sidebar-menu"
    data-mobile-item="#home-sidebar-menu-mobile">
    <div class="page-content-wrapper">
        <div   class="page-content is-relative">

            <div  class="page-title has-text-centered">
                <!-- Sidebar Trigger -->
                <div class="huro-hamburger nav-trigger push-resize" data-sidebar="layouts-sidebar">
                    <span class="menu-toggle has-chevron">
                      <span class="icon-box-toggle" [ngClass]="activeToggle" (click)="activeHomeSider()">
                          <span class="rotate">
                              <i class="icon-line-top"></i>
                              <i class="icon-line-center"></i>
                              <i class="icon-line-bottom"></i>
                          </span>
                    </span>
                    </span>
                </div>

                <div class="title-wrap">
                    <h1 class="title is-4">{{ dynamicTitle }}</h1>
                </div>

                <div class="toolbar ml-auto">

                    <div class="toolbar-link">
                        <label class="dark-mode ml-auto">
                            <input type="checkbox" checked="">
                            <span></span>
                        </label>
                    </div>

                    <a class="toolbar-link right-panel-trigger" data-panel="languages-panel">
                        <img src="assets/img/icons/flags/united-states-of-america.svg" alt="">
                    </a>

                    <div class="toolbar-notifications is-hidden-mobile">
                        <div class="dropdown is-spaced is-dots is-right dropdown-trigger">
                            <div class="is-trigger" aria-haspopup="true">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg>
                                <span class="new-indicator pulsate"></span>
                            </div>
                            <div class="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    <div class="heading">
                                        <div class="heading-left">
                                            <h6 class="heading-title">Notifications</h6>
                                        </div>
                                        <div class="heading-right">
                                            <a class="notification-link" href="/admin-profile-notifications.html">See all</a>
                                        </div>
                                    </div>
                                    <ul class="notification-list">
                                        <li>
                                            <a class="notification-item">
                                                <div class="img-left">
                                                    <img class="user-photo" alt="" src="assets/img/avatars/photos/7.jpg" data-demo-src="assets/img/avatars/photos/7.jpg">
                                                </div>
                                                <div class="user-content">
                                                    <p class="user-info"><span class="name">Alice C.</span> left a comment.</p>
                                                    <p class="time">1 hour ago</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="notification-item">
                                                <div class="img-left">
                                                    <img class="user-photo" alt="" src="assets/img/avatars/photos/12.jpg" data-demo-src="assets/img/avatars/photos/12.jpg">
                                                </div>
                                                <div class="user-content">
                                                    <p class="user-info"><span class="name">Joshua S.</span> uploaded a file.</p>
                                                    <p class="time">2 hours ago</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="notification-item">
                                                <div class="img-left">
                                                    <img class="user-photo" alt="" src="assets/img/avatars/photos/13.jpg" data-demo-src="assets/img/avatars/photos/13.jpg">
                                                </div>
                                                <div class="user-content">
                                                    <p class="user-info"><span class="name">Tara S.</span> sent you a message.</p>
                                                    <p class="time">2 hours ago</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="notification-item">
                                                <div class="img-left">
                                                    <img class="user-photo" alt="" src="assets/img/avatars/photos/25.jpg" data-demo-src="assets/img/avatars/photos/25.jpg">
                                                </div>
                                                <div class="user-content">
                                                    <p class="user-info"><span class="name">Melany W.</span> left a comment.</p>
                                                    <p class="time">3 hours ago</p>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    <a class="toolbar-link right-panel-trigger" data-panel="activity-panel">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg>
                    </a>
                </div>
            </div>

            <a routerLink="/organization" class="pagination-previous has-chevron"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg></a><br><br>
            <div  *ngIf="isListAreas" class="list-flex-toolbar">
                <div class="control has-icon">
                    <input class="input custom-text-filter" placeholder="Search..." data-filter-target=".flex-table-item">
                    <div class="form-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                    </div>
                </div>
            
                <!-- <div class="buttons">
                    <button class="button h-button is-primary is-elevated">
                        <span class="icon">
                          <i aria-hidden="true" class="fas fa-plus"></i>
                      </span>
                        <span (click)="onAddArea()">Ajouter une zone</span>
                    </button>
                </div> -->
            </div>
          
            <div  *ngIf="isListAreas" class="page-content-inner">
                <div class="flex-list-wrapper flex-list-v1">
                    <!--List Empty Search Placeholder -->
                    <div class="page-placeholder custom-text-filter-placeholder is-hidden">
                        <div class="placeholder-content">
                            <img class="light-image" src="assets/img/illustrations/placeholders/search-4.svg" alt="">
                            <img class="dark-image" src="assets/img/illustrations/placeholders/search-4-dark.svg" alt="">
                            <h3>We couldn't find any matching results.</h3>
                            <p class="is-larger">Too bad. Looks like we couldn't find any matching results for the
                                search terms you've entered. Please try different search terms or criteria.</p>
                        </div>
                    </div>

                    <div class="flex-table">

                        <!--Table header-->
                        <div class="flex-table-header" data-filter-hide="">
                            <span class="is-grow">Id</span>
                            <span>Appelation</span>
                            <span>Reference</span>
                            <span>Observation</span>
                            <span>Club(s)</span>
                            <span class="cell-end">Actions</span>
                        </div>

                        <div class="flex-list-inner" *ngFor="let area of areasOfCenter">
                            <!--Table item-->
                            <div class="flex-table-item">
                                <div class="flex-table-cell is-media is-grow">
                                    <div>
                                        <span class="item-name dark-inverted" data-filter-match="">{{ area.id }}</span>
                                        <span class="item-meta">
                                          <span data-filter-match="">{{ area.name }}</span>
                                        </span>
                                    </div>
                                </div>
                                <div class="flex-table-cell" data-th="Location">
                                    <span class="light-text" data-filter-match="">{{ area.name }}</span>
                                </div>
                                <div class="flex-table-cell" data-th="Location">
                                    <span class="light-text" data-filter-match="">{{ area.reference }}</span>
                                </div>
                                <div class="flex-table-cell" data-th="Location">
                                    <span class="light-text" data-filter-match="">{{ area.observation }}</span>
                                </div>
                                <div class="flex-table-cell" data-th="Location">
                                    <span class="light-text" data-filter-match="">{{ area.clubs.length }}</span>
                                </div>
                                <div class="flex-table-cell cell-end" data-th="Actions">
                                    <div class="dropdown is-spaced is-dots is-right dropdown-trigger is-pushed-mobile">
                                        <a _ngcontent-nct-c62="" (click)="onDeleteArea(area.id)" class="pagination-previous has-chevron" style="color: brown"><i class="lnil lnil-trash-can-alt"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!--Table Pagination-->
                    <nav class="flex-pagination pagination is-rounded" aria-label="pagination" data-filter-hide="">
                        <a class="pagination-previous has-chevron"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg></a>
                        <a class="pagination-next has-chevron"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></a>
                        <ul class="pagination-list">
                            <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                            <li><span class="pagination-ellipsis">…</span></li>
                            <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                            <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a>
                            </li>
                            <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                            <li><span class="pagination-ellipsis">…</span></li>
                            <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
                        </ul>
                    </nav>
                </div>

            </div>

            <app-accountant *ngIf="isAccountant"></app-accountant>
        <app-admin-sys *ngIf="isAdminSys"></app-admin-sys>
        <app-members-general-assembly *ngIf="isMemberGeneralAssembly"></app-members-general-assembly>
        <app-development-committee *ngIf="isDevelopmentCommitteeCenter"></app-development-committee>
        <app-clubs-general-assembly *ngIf="isGeneralAssemblyCenter"></app-clubs-general-assembly>
        <app-executive-board-center *ngIf="isExecutiveBoardCenter"></app-executive-board-center>
        <app-member-to-gcc *ngIf="isMemberToGcc"></app-member-to-gcc>
        <app-production-manager *ngIf="isProductionmanager"></app-production-manager>
        </div>


        
    </div>

</div>

<!-- add memeber -->
<div id="addClub" class="modal h-modal" [ngClass]="openAreaModal">
    <div class="modal-background h-modal-close"></div>
    <div class="modal-content">
        <div class="modal-card">
            <header class="modal-card-head">
                <h3>Ajout Zone</h3>
                <button class="h-modal-close ml-auto" aria-label="close" (click)="closeAreaModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </header>
            <div class="modal-card-body">
                <div class="inner-content">
                    <form class="modal-form" [formGroup]="addAreaForm" (ngSubmit)="onSubmitArea()">
                        <label>Zones *</label>
                        <select class="input_comp" aria-label="Default select example" formControlName="id" [(ngModel)]="ngSelect">
                            <option value="0" disabled>--Selectionnez une zone--</option>
                            <option *ngFor="let area of areas" [value]="area.id"> <span> {{ area.name }} </span> </option>

                              <div class="text-danger" *ngIf="addAreaForm.get('id')?.errors?.['required'] && addAreaForm.get('id')?.touched">
                                <small class="text-police" translate>Veuillez selectionner la zone </small>
                           </div>
                        </select><br><br>
               
        
                        <!-- <input type="text" hidden class="input" formControlName="roleName"> -->
                        <div class="control login">
                            <button class="button h-button is-primary is-bold is-fullwidth is-raised" [disabled] ="addAreaForm.invalid" >Save</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-card-foot is-end">
                <a class="button h-button is-rounded h-modal-close" (click)="closeAreaModal()">Cancel</a>
            </div>
        </div>
    </div>
</div>
