<div class="list-flex-toolbar">
    <form [formGroup]="searchForm">
        <div class="control has-icon">
            <input class="input custom-text-filter" (ngModelChange)="searchClubs()" formControlName="name" placeholder="Appelation..." data-filter-target=".flex-table-item">
            <div class="form-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
            </div>
            
        </div>
    </form>

    <div class="buttons">
        <button class="button h-button is-primary is-elevated">
            <span class="icon">
              <i aria-hidden="true" class="fas fa-plus"></i>
          </span>
            <span (click) = "onAddClub()">Créer un Club</span>
        </button>
    </div>
</div>

<div class="page-content-inner">
    <div class="flex-list-wrapper flex-list-v1">
        <div class="page-placeholder custom-text-filter-placeholder is-hidden">
            <div class="placeholder-content">
                <!--<img class="light-image" src="assets/img/illustrations/placeholders/search-4.svg" alt="">
                <img class="dark-image" src="assets/img/illustrations/placeholders/search-4-dark.svg" alt="">-->
                <h3>We couldn't find any matching results.</h3>
                <p class="is-larger">Too bad. Looks like we couldn't find any matching results for the
                    search terms you've entered. Please try different search terms or criteria.</p>
            </div>
        </div>

        <div class="flex-table">

            <!--Table header-->
            <div class="flex-table-header" data-filter-hide="">
                <span>id</span>
                <span>Appelation</span>
                <span>Reference</span>
                <span>Membre(s)</span>
                <span>Date de creation</span>
                <span>Observation</span>
                <span class="cell-end">Actions</span>
            </div>

            <div class="flex-list-inner">
                <!--Table item-->
                <div class="flex-table-item" *ngFor="let club of clubs">
                    <div class="flex-table-cell" data-th="id">
                        <span class="light-text" data-filter-match="">{{ club.id }}</span>
                    </div>
                    <div class="flex-table-cell" data-th="Appelation">
                        <span class="light-text" data-filter-match="">{{ club.name }}</span>
                    </div>
                    <div class="flex-table-cell" data-th="Reference">
                        <span class="light-text" data-filter-match="">{{ club.reference }}</span>
                    </div>
                    <div class="flex-table-cell" data-th="Membre(s)">
                        <span class="light-text" data-filter-match="">{{ club.members.length }}</span>
                        <a (click)="onAddMember(club.id)" tooltip=" Ajouter un membre " theme='light' class="pagination-previous has-chevron"><i class="lnir lnir-plus"></i></a>
                    </div>
                    <div class="flex-table-cell" data-th="Date de creation">
                        <span class="light-text" data-filter-match="">{{ club.creationDate }}</span>
                    </div>
                    <div class="flex-table-cell" data-th="Observation">
                        <span class="light-text" data-filter-match="">{{ club.observation }}</span>
                    </div>
                    <div class="flex-table-cell cell-end" data-th="Actions">
                        <div class="dropdown is-spaced is-dots is-right dropdown-trigger is-pushed-mobile">
                            <a _ngcontent-nct-c62="" [routerLink]="['/view-more']"
                            [queryParams]="{id: club.id}" tooltip=" Voir details club " theme='light' class="pagination-previous has-chevron" style="color: blue"> <i class="lnil lnil-eye"></i></a>
                            <a _ngcontent-nct-c62="" (click)="onUpdateClub(club.id)" tooltip=" Modifier le club " theme='light' class="pagination-previous has-chevron"><i class="lnir lnir-pencil"></i></a>
                            <a _ngcontent-nct-c62="" (click)="onDeleteClub(club.id)" tooltip=" Supprimer le club " theme='light' class="pagination-previous has-chevron" style="color: brown"><i class="lnil lnil-trash-can-alt"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--Table Pagination-->
        <nav class="flex-pagination pagination is-rounded" aria-label="pagination" data-filter-hide="">
            <a class="pagination-previous has-chevron"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg></a>
            <a class="pagination-next has-chevron"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></a>
            <ul class="pagination-list">
                <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                <li><span class="pagination-ellipsis">…</span></li>
                <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a>
                </li>
                <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                <li><span class="pagination-ellipsis">…</span></li>
                <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
            </ul>
        </nav>
    </div>

</div>


<!-- add new club -->
<div class="modal h-modal" [ngClass]="openAddClub">
    <div class="modal-background h-modal-close"></div>
    <div class="modal-content">
        <div class="modal-card">
            <header class="modal-card-head">
                <h3>Création d'un club</h3>
                <button class="h-modal-close ml-auto" aria-label="close" (click)="onCloseAddModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </header>
            <div class="modal-card-body">
                <div class="inner-content">
                    <form class="modal-form" [formGroup]="addClubForm" (ngSubmit)="onSubmitClub()">
                        <div class="field">
                            <label>Appelation *</label><br>
                            <div class="control">
                                <input type="text" class="input" placeholder="Appelation" formControlName="name">
                            </div>
                            <div class="text-danger"
                                *ngIf="addClubForm.get('name')?.errors?.['required'] && addClubForm.get('name')?.touched">
                                <small class="text-police" translate>entrer l'appelation du centre</small>
                            </div>
                        </div>

                        <div class="field">
                            <label>Reférence *</label><br>
                            <div class="control">
                                <input type="text" class="input" placeholder="Reférence" formControlName="reference">
                            </div>
                            <div class="text-danger"
                                *ngIf="addClubForm.get('reference')?.errors?.['required'] && addClubForm.get('reference')?.touched">
                                <small class="text-police" translate>entrer la reférence du centre</small>
                            </div>
                        </div>
                        <div class="field">
                            <label>Date de creation *</label><br>
                            <div class="card-header-widget datepicker-style">
                                <div class="input-daterange input-group align-items-center">
                                    <input class="champ" formControlName="creationDate" type="date" id="DOB" name="DOB" max="{{ maxCreationClubDate }}"  [(ngModel)]="createDate" (input)="onSelectCreateDate($event.timeStamp)">
                                </div>
                           </div>
                           <div class="text-danger" *ngIf="addClubForm.get('creationDate')?.errors?.['required'] && addClubForm.get('creationDate')?.touched">
                             <small class="text-police" translate>selectionner la date de création</small>
                           </div>
                        </div>
                        
                        <div class="field">
                            <label>Observation</label>
                            <div class="control">
                                <textarea class="textarea" rows="4"
                                    formControlName="observation" placeholder="Observation..."></textarea>
                            </div>

                            <div class="text-danger"
                            *ngIf="addClubForm.get('observation')?.errors?.['required'] && addClubForm.get('observation')?.touched">
                            <small class="text-police" translate>--Entrer l'observation du centre --</small>
                            </div>
                        </div>
                        <div class="control login">
                            <button [disabled]="addClubForm.invalid || isSaving"
                                class="button h-button is-primary is-bold is-fullwidth is-raised">Enregistrer</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-card-foot is-end">
                <a class="button h-button is-rounded h-modal-close" (click)="onCloseAddModal()">Annuler</a>
            </div>
        </div>
    </div>
</div>

<!-- update new club -->
<div class="modal h-modal" [ngClass]="openUpdateClub">
    <div class="modal-background h-modal-close"></div>
    <div class="modal-content">
        <div class="modal-card">
            <header class="modal-card-head">
                <h3>Modifier le club</h3>
                <button class="h-modal-close ml-auto" aria-label="close" (click)="onCloseUpdateModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </header>
            <div class="modal-card-body">
                <div class="inner-content">
                    <form class="modal-form" [formGroup]="updateClubForm" (ngSubmit)="onSubmitUpdateClub()">
                        <div class="control">
                            <input type="hidden" class="input" [(ngModel)]="club.id" hidden formControlName="id">
                        </div>
                        <div class="field">
                            <label>Appelation *</label><br>
                            <div class="control">
                                <input type="text" class="input" [(ngModel)]="club.name" placeholder="Appelation" formControlName="name">
                            </div>
                            <div class="text-danger"
                                *ngIf="updateClubForm.get('name')?.errors?.['required'] && updateClubForm.get('name')?.touched">
                                <small class="text-police" translate>Entrer l'appelation du centre</small>
                            </div>
                        </div><br>
                        <div class="field">
                            <label>Reference *</label><br>
                            <div class="control">
                                <input type="text" class="input" [(ngModel)]="club.reference" placeholder="Reference" formControlName="reference">
                            </div>
                            <div class="text-danger"
                                *ngIf="updateClubForm.get('reference')?.errors?.['required'] && updateClubForm.get('reference')?.touched">
                                <small class="text-police" translate>Entrer la reference du centre</small>
                            </div>
                        </div><br>
                        <div class="field">
                            <label>Observation *</label><br>
                            <div class="control">
                                <textarea type="text" class="textarea" rows="4" [(ngModel)]="club.observation" placeholder="Observation" formControlName="observation"></textarea>
                            </div>
                            <div class="text-danger"
                                *ngIf="updateClubForm.get('observation')?.errors?.['required'] && updateClubForm.get('observation')?.touched">
                                <small class="text-police" translate>Entrer l'observation du centre</small>
                            </div>
                        </div><br>
                        <div class="control login">
                            <button [disabled]="updateClubForm.invalid || isSaving"
                                class="button h-button is-primary is-bold is-fullwidth is-raised">Modifier</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-card-foot is-end">
                <a class="button h-button is-rounded h-modal-close" (click)="onCloseUpdateModal()">Annuler</a>
            </div>
        </div>
    </div>
</div>
<!-- Ajouter un membre dans un club -->
<div id="addMemeber" class="modal h-modal" [ngClass]="openMemberModal">
    <div class="modal-background h-modal-close"></div>
    <div class="modal-content">
        <div class="modal-card">
            <header class="modal-card-head">
                <h3>Ajout Membre</h3>
                <button class="h-modal-close ml-auto" aria-label="close" (click)="closeMemberModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </header>
            <div class="modal-card-body">
                <div class="inner-content">
                    <form class="modal-form" [formGroup]="addMemberForm" (ngSubmit)="onSubmitMember()">
                        <div class="field">
                            <label>Membres *</label><br>
                            <select2
                                    class="w-100 color-border"
                                    [data]="members"
                                    id="member"
                                    formControlName="id"
                                    placeholder="--Selectionnez un membre--">
                            </select2>
                            <div class="text-danger"
                            *ngIf="addMemberForm.get('id')?.errors?.['required'] && addMemberForm.get('id')?.touched">
                            <small class="text-police" translate>Selectionnez un membre</small>
                            </div>
                        </div><br>
                        <div class="control login">
                            <button class="button h-button is-primary is-bold is-fullwidth is-raised" [disabled]="addMemberForm.invalid || isSaving" >Enregistrer</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-card-foot is-end">
                <a class="button h-button is-rounded h-modal-close" (click)="closeMemberModal()">Annuler</a>
            </div>
        </div>
    </div>
</div>
