 <div id="huro-app" class="app-wrapper">

        <!--Full pageloader-->
        <!-- Pageloader -->
        <div class="pageloader is-full"></div>
        <div class="infraloader is-full"></div>
        <div class="auth-wrapper">
            <!--Page body-->

            <div class="auth-wrapper-inner is-single">

                <!--Fake navigation-->
                <div class="auth-nav">
                    <div class="left"></div>
                    <div class="center">
                        <a href="/" class="header-item">
                            <img class="light-image" src="https://res.cloudinary.com/b2i-group/image/upload/v1673430526/kunta-organisation/img/logo_p4a6oz.svg" alt="">
                            <img class="dark-image" src="https://res.cloudinary.com/b2i-group/image/upload/v1673430526/kunta-organisation/img/logo_p4a6oz.svg" alt="">
                        </a>
                    </div>
                    <div class="right">
                        <label class="dark-mode ml-auto">
                            <input type="checkbox" checked="">
                            <span></span>
                        </label>
                    </div>
                </div>

                <!--Single Centered Form-->
                <div class="single-form-wrap">

                    <div class="inner-wrap">
                        <!--Form Title-->
                        <div class="auth-head">
                            <h2>Welcome Back.</h2>
                            <p>Please sign in to your account</p>
                            <!-- <a routerLink="/register">I do not have an account yet </a> -->
                        </div>

                        <!--Form-->
                        <div class="form-card">

                            <form [formGroup]="signInForm" (ngSubmit)="onSignIn()">
                                <div id="signin-form" class="login-form">
                                    <!-- Input -->
                                    <div class="field">
                                        <div class="control has-icon">
                                            <input class="input" type="text" placeholder="Adresse mail" formControlName="email">
                                            <span class="form-icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                                </span>
                                        </div>

                                        <div class="text-danger"
                                        *ngIf="signInForm.get('email')?.errors?.['required'] && signInForm.get('email')?.touched">
                                          <small class="text-police">Veuillez entrer votre adresse mail</small>
                                         </div>
                                    </div>
                                    <!-- Input -->
                                    <div class="field ">
                                        <div class="control has-icon ">
                                            <input class="input" [type]="changetype?'password':'text'" placeholder="Password" formControlName="password">
                                            <span class="eyeicon" (click)="viewpass()"><i [ngClass]="visible?'fa fa-eye':'fa fa-eye-slash'"></i></span>
                                            <span class="form-icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
                                            </span>
                                        </div>

                                        <div class="text-danger"
                                        *ngIf="signInForm.get('password')?.errors?.['required'] && signInForm.get('password')?.touched">
                                          <small class="text-police">Veuillez entrer votre mot de passe</small>
                                         </div>

                                         <div class="text-danger"
                                         *ngIf="isNotLogin">
                                        <small class="text-police">le mot de passe ou l'email est incorrecte.</small>
                                    </div>
                                    
                                    <div class="setting-item">
                                        <label class="form-switch is-primary">
                                            <input type="checkbox" class="is-switch" id="busy-mode-toggle">
                                            <i></i>
                                        </label>
                                        <div class="setting-meta">
                                            <span>Remember Me</span>
                                        </div>
                                    </div>
                                    <!-- Submit -->
                                    <div class="control login">
                                        <button [disabled]="signInForm.invalid || isProgressing" class="button h-button is-primary is-bold is-fullwidth is-raised">Sign In</button>
                                    </div>
                                   
                               </div>


                                </div>
                            </form>
                        </div>

                        <div class="forgot-link has-text-centered">
                            <a>Forgot Password?</a>
                        </div>

                    </div>

                </div>

            </div>
        </div>