<div id="layouts-sidebar" class="sidebar-panel is-generic" [ngClass]="homeSider">
    <div class="subpanel-header">

        <div class="dropdown project-dropdown dropdown-trigger is-spaced">
            <div class="h-avatar is-small">
                <span class="avatar is-fake is-h-green">
                  <span>O</span>
                </span>
            </div>
            <span class="status-indicator"></span>

            <div class="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    <div class="dropdown-block">
                        <div class="h-avatar is-small">
                            <span class="avatar is-fake is-warning">
                              <span>D</span>
                            </span>
                        </div>
                        <div class="meta">
                            <span class="dark-inverted">Delivery App Project</span>
                            <span>Food For Good</span>
                        </div>
                    </div>
                    <div class="dropdown-block">
                        <div class="h-avatar is-small">
                            <span class="avatar is-fake is-h-green">
                              <span>M</span>
                            </span>
                        </div>
                        <div class="meta">
                            <span class="dark-inverted">Health and Fitness Dashboard</span>
                            <span>Fit'n'Dance</span>
                        </div>
                    </div>
                    <div class="dropdown-block">
                        <div class="h-avatar is-small">
                            <span class="avatar is-fake is-info">
                              <span>L</span>
                            </span>
                        </div>
                        <div class="meta">
                            <span class="dark-inverted">Learning Tracker Dashboard</span>
                            <span>Fit'n'Dance</span>
                        </div>
                    </div>
                    <div class="dropdown-block">
                        <div class="h-avatar is-small">
                            <span class="avatar is-fake is-h-purple">
                              <span>B</span>
                            </span>
                        </div>
                        <div class="meta">
                            <span class="dark-inverted">Banking and Finance Dashboard</span>
                            <span>H Bank</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="no-mb">Organisation</h3>
        <div class="panel-close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
        </div>
    </div>
    <div class="inner" data-simplebar="init"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;"><div class="simplebar-content" style="padding: 0px;">
        <ul>
            <li class="has-children" [ngClass]="activeListUser">
                <div class="collapse-wrap">
                    <a href="javascript:void(0);" (click)="onDisplayUserList()" class="parent-link">Utilisateurs <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></a>
                </div>
                <ul [style.display]="wrapdwonListUser">
                    <li>
                        <a (click)="onShowAll()" class="is-submenu">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Tous les utilisateurs</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="clickOnAdmin()" class="is-submenu">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Administrateurs</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="clickOnMember()" class="is-submenu">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Membres</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="clickOnMutualist()" class="is-submenu">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Mutualistes</span>
                        </a>
                    </li>
                    <!-- <li>
                        <a (click)="clickOnOperator()" class="is-submenu">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Operator</span>
                        </a>
                    </li> -->
                </ul>
            </li>
            <!-- <li>
                <div class="collapse-wrap">
                    <a href="javascript:void(0);" class="parent-link" (click)="onShowCenter()">Centers</a>
                </div>
            </li> -->
            <li>
                <div class="collapse-wrap">
                    <a href="javascript:void(0);" class="parent-link" (click)="onShowClub()">Clubs</a>
                </div>
            </li>
            <li>
                <div class="collapse-wrap">
                    <a href="javascript:void(0);" class="parent-link" (click)="onShowArea()">Zones</a>
                </div>
            </li>
            <li>
                <div class="collapse-wrap">
                    <a href="javascript:void(0);" class="parent-link" (click)="onMainCenters()" >Centres</a>
                </div>
            </li>
            <li class="has-children" [ngClass]="activateMainOfficeDetails">
                <div class="collapse-wrap">
                    <a href="javascript:void(0);" (click)="onDisplayMainOffice()" class="parent-link">Bureau principale <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></a>
                </div>
                <ul [style.display]="wrapdwonDetaiilsMainOffice">
               
                    <!-- <li>
                        <a (click)="onMainCenters()" class="is-submenu">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Centres</span>
                        </a>
                    </li> -->

                    <!-- <div [ngClass]="marginBut" class="left-ma">
                        <li class="has-children" [ngClass]="activeListCenter">
                            <div class="collapse-wrap">
                                <a href="javascript:void(0);" (click)="onListCenter()" class="parent-link">Centres <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></a>
                            </div>
                            <ul [style.display]="wrapdwonCenter">
                                <li>
                                    <a (click)="onMainCenters()" class="is-submenu">
                                        <i class="lnil lnil-list-alt-1"></i>
                                        <span>Tous les centres</span>
                                    </a>
                                </li>
                                <li>
                                    <a (click)="onAccountant()" class="is-submenu">
                                        <i class="lnil lnil-list-alt-1"></i>
                                        <span>Comptable</span>
                                    </a>
                                </li>
                                <li>
                                    <a (click)="onAdminSys()" class="is-submenu">
                                        <i class="lnil lnil-list-alt-1"></i>
                                        <span>Administrateur Système</span>
                                    </a>
                                </li>
            
                                <li style="margin-bottom: 10px;">
                                    <a (click)="onMemberGeneralAssembly()" class="is-submenu">
                                        <i class="lnil lnil-list-alt-1"></i>
                                        <span>Assemblée générale des membres</span>
                                    </a>
                                </li>
                                <li style="margin-bottom: 10px;">
                                    <a (click)="onDevelopmentCommitteeCenter()" class="is-submenu">
                                        <i class="lnil lnil-list-alt-1"></i>
                                        <span>Comité de Développement</span>
                                    </a>
                                </li>
                               
                                <li style="margin-bottom: 10px;">
                                    <a (click)="onGeneralAssemblyCenter()" class="is-submenu">
                                        <i class="lnil lnil-list-alt-1"></i>
                                        <span>Assemblée représentative des Clubs</span>
                                    </a>
                                </li>
                                <li style="margin-bottom: 10px;">
                                    <a (click)="onExecutiveBoardCenter()" class="is-submenu">
                                        <i class="lnil lnil-list-alt-1"></i>
                                        <span>Conseil d’Administration</span>
                                    </a>
                                </li>
                                <li style="margin-bottom: 10px;">
                                    <a (click)="onMemberToGcc()" class="is-submenu">
                                        <i class="lnil lnil-list-alt-1"></i>
                                        <span>Comité de Gouvernance et des Rémunérations</span>
                                    </a>
                                </li>
                                <li>
                                    <a (click)="onProductionmanager()" class="is-submenu">
                                        <i class="lnil lnil-list-alt-1"></i>
                                        <span>Responsable de Production</span>
                                    </a>
                                </li>
                               
                            </ul>
                        </li>
                    </div> -->

                  




                    <li>
                        <a (click)="onExecutiveBoard()" class="is-submenu">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Comité exécutif</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="onGeneralAssembly()" class="is-submenu">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Assemblée générale</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="onCompensationCommittee()"  class="is-submenu">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>comité de gouvernance et de rémunération</span>
                        </a>
                    </li>
                    <li>
                        <a (click)="onMonitoringCommittee()"  class="is-submenu">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>comité de production et de surveillance</span>
                        </a>
                    </li>

                    <li>
                        <a (click)="onDevelopmentCommittee()"  class="is-submenu">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>comité de développement stratégique</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div></div></div></div><div class="simplebar-placeholder" style="width: auto; height: 643px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 496px; transform: translate3d(0px, 0px, 0px); display: block;"></div></div></div>
</div>

<div id="app-hr" class="view-wrapper" [ngClass]="isPushed" data-naver-offset="150" data-menu-item="#home-sidebar-menu"
    data-mobile-item="#home-sidebar-menu-mobile">
    <div class="page-content-wrapper">
        <div class="page-content is-relative">

            <div class="page-title has-text-centered">
                <!-- Sidebar Trigger -->
                <div class="huro-hamburger nav-trigger push-resize" data-sidebar="layouts-sidebar">
                    <span class="menu-toggle has-chevron">
                      <span class="icon-box-toggle" [ngClass]="activeToggle" (click)="activeHomeSider()">
                          <span class="rotate">
                              <i class="icon-line-top"></i>
                              <i class="icon-line-center"></i>
                              <i class="icon-line-bottom"></i>
                          </span>
                    </span>
                    </span>
                </div>

                <div class="title-wrap">
                    <h1 class="title is-4">{{ dynamicTitle }}</h1>
                </div>

                <div class="toolbar ml-auto">

                    <div class="toolbar-link">
                        <label class="dark-mode ml-auto">
                            <input type="checkbox" checked="">
                            <span></span>
                        </label>
                    </div>

                    <a class="toolbar-link right-panel-trigger" data-panel="languages-panel">
                        <img src="assets/img/icons/flags/united-states-of-america.svg" alt="">
                    </a>

                    <div class="toolbar-notifications is-hidden-mobile">
                        <div class="dropdown is-spaced is-dots is-right dropdown-trigger">
                            <div class="is-trigger" aria-haspopup="true">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg>
                                <span class="new-indicator pulsate"></span>
                            </div>
                            <div class="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    <div class="heading">
                                        <div class="heading-left">
                                            <h6 class="heading-title">Notifications</h6>
                                        </div>
                                        <div class="heading-right">
                                            <a class="notification-link" href="/admin-profile-notifications.html">See all</a>
                                        </div>
                                    </div>
                                    <ul class="notification-list">
                                        <li>
                                            <a class="notification-item">
                                                <div class="img-left">
                                                    <img class="user-photo" alt="" src="assets/img/avatars/photos/7.jpg" data-demo-src="assets/img/avatars/photos/7.jpg">
                                                </div>
                                                <div class="user-content">
                                                    <p class="user-info"><span class="name">Alice C.</span> left a comment.</p>
                                                    <p class="time">1 hour ago</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="notification-item">
                                                <div class="img-left">
                                                    <img class="user-photo" alt="" src="assets/img/avatars/photos/12.jpg" data-demo-src="assets/img/avatars/photos/12.jpg">
                                                </div>
                                                <div class="user-content">
                                                    <p class="user-info"><span class="name">Joshua S.</span> uploaded a file.</p>
                                                    <p class="time">2 hours ago</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="notification-item">
                                                <div class="img-left">
                                                    <img class="user-photo" alt="" src="assets/img/avatars/photos/13.jpg" data-demo-src="assets/img/avatars/photos/13.jpg">
                                                </div>
                                                <div class="user-content">
                                                    <p class="user-info"><span class="name">Tara S.</span> sent you a message.</p>
                                                    <p class="time">2 hours ago</p>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a class="notification-item">
                                                <div class="img-left">
                                                    <img class="user-photo" alt="" src="assets/img/avatars/photos/25.jpg" data-demo-src="assets/img/avatars/photos/25.jpg">
                                                </div>
                                                <div class="user-content">
                                                    <p class="user-info"><span class="name">Melany W.</span> left a comment.</p>
                                                    <p class="time">3 hours ago</p>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    <a class="toolbar-link right-panel-trigger" data-panel="activity-panel">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid"><rect x="3" y="3" width="7" height="7"></rect><rect x="14" y="3" width="7" height="7"></rect><rect x="14" y="14" width="7" height="7"></rect><rect x="3" y="14" width="7" height="7"></rect></svg>
                    </a>
                </div>
            </div>

            <app-user *ngIf="isUser"></app-user>
            <app-center *ngIf="isCenter"></app-center>
            <app-club *ngIf="isClub"></app-club>
            <app-area *ngIf="isArea"></app-area>
            <app-main-office *ngIf="isMainOffice"></app-main-office>

            <app-admin *ngIf="isAdmin"></app-admin>
            <app-member *ngIf="isMember"></app-member>
            <app-mutulist *ngIf="isMutulist"></app-mutulist>
            <app-operator *ngIf="isOperator"></app-operator>
            <app-centers *ngIf="isMainCenters"></app-centers>

            <app-executive-board *ngIf="isExecutiveBoard"></app-executive-board>
            <app-general-assembly *ngIf="isGeneralAssembly"></app-general-assembly>
            <app-governance-compensation-committee *ngIf="isCompensationCommittee"></app-governance-compensation-committee>
            <app-production-monitoring-committee *ngIf="isMonitoringCommittee"></app-production-monitoring-committee>
            <app-strategic-development-committee *ngIf="isDevelopmentCommittee"></app-strategic-development-committee>
   
            
        </div>
    </div>

</div>
