.display-block{
    display: block;
}
.display-none{
    display: none;
}
.margin-but-on{
    margin-bottom: 350px;
}
.margin-but-in{
    margin-bottom: 0px;
}
.left-ma{
    margin-left: 20px;
}

.but-ma{
    margin-left: 10px;
}