<!--Mobile sidebar-->

<!-- Mobile Sub Side Bar Menu -->

<!-- /////////////////////////////////////////////////////////////////////////// -->

<div id="layouts-sidebar" class="sidebar-panel is-generic" [ngClass]="homeSider">
    <div class="subpanel-header">

        <div class="dropdown project-dropdown dropdown-trigger is-spaced">
            <div class="h-avatar is-small">
                <span class="avatar is-fake is-h-green">
                  <span>P</span>
                </span>
            </div>
            <span class="status-indicator"></span>

            <div class="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    <div class="dropdown-block">
                        <div class="h-avatar is-small">
                            <span class="avatar is-fake is-warning">
                              <span>D</span>
                            </span>
                        </div>
                        <div class="meta">
                            <span class="dark-inverted">Delivery App Project</span>
                            <span>Food For Good</span>
                        </div>
                    </div>
                    <div class="dropdown-block">
                        <div class="h-avatar is-small">
                            <span class="avatar is-fake is-h-green">
                              <span>M</span>
                            </span>
                        </div>
                        <div class="meta">
                            <span class="dark-inverted">Health and Fitness Dashboard</span>
                            <span>Fit'n'Dance</span>
                        </div>
                    </div>
                    <div class="dropdown-block">
                        <div class="h-avatar is-small">
                            <span class="avatar is-fake is-info">
                              <span>L</span>
                            </span>
                        </div>
                        <div class="meta">
                            <span class="dark-inverted">Learning Tracker Dashboard</span>
                            <span>Fit'n'Dance</span>
                        </div>
                    </div>
                    <div class="dropdown-block">
                        <div class="h-avatar is-small">
                            <span class="avatar is-fake is-h-purple">
                              <span>B</span>
                            </span>
                        </div>
                        <div class="meta">
                            <span class="dark-inverted">Banking and Finance Dashboard</span>
                            <span>H Bank</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="no-mb">Paramètres</h3>
        <div class="panel-close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
        </div>
    </div>
    <div class="inner" data-simplebar="init"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;"><div class="simplebar-content" style="padding: 0px;">
        <ul>
            <li class="has-children" [ngClass]="activeOganisation">
                <div class="collapse-wrap">
                    <a href="javascript:void(0);"class="parent-link" (click)="onDisplayOrganisationDetail()">Organisation <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></a>
                </div>
                <ul [style.display]="wrapdwonDetailOganisation">

                    <li>
                        <!-- <a class="is-submenu" (click)="onPoste()">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Poste</span>
                        </a> -->
                        <a class="is-submenu" (click)="onPoste()" [routerLink]="['/parameters/postes/']">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Poste</span>
                        </a>
                    </li>

                    <li>
                        <!-- <a class="is-submenu" (click)="onPieceType()">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Types de pièces</span>
                        </a> -->
                        <a class="is-submenu" (click)="onPieceType()" [routerLink]="['/parameters/piece-type/']">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Types de pièces</span>
                        </a>
                    </li>

                    <li>
                        <!-- <a class="is-submenu" (click)="onFamilySituation()">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Situation familiale</span>
                        </a> -->
                        <a class="is-submenu" (click)="onFamilySituation()" [routerLink]="['/parameters/family-situation/']">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Situation familiale</span>
                        </a>
                    </li>

                    <li>
                        <!-- <a class="is-submenu" (click)="onCivility()">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Civilité</span>
                        </a> -->
                        <a class="is-submenu" (click)="onCivility()" [routerLink]="['/parameters/civility/']">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Civilité</span>
                        </a>
                    </li>
                </ul> 
            </li>
            <li class="has-children" [ngClass]="activeListTontine">
                <div class="collapse-wrap">
                    <a href="javascript:void(0);"class="parent-link" (click)="onDisplayTontineDetail()">Tontines <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></a>
                </div>
                <ul [style.display]="wrapdwonDetailTontine">
                    <li>
                        <!-- <a class="is-submenu" (click)="onFrequency()">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Frequences</span>
                        </a> -->
                        <a class="is-submenu" (click)="onFrequency()" [routerLink]="['/parameters/frequencies/']">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Frequences</span>
                        </a>
                    </li>
                    <li>
                        <!-- <a class="is-submenu" (click)="onTransversality()">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Niveaux de transversalité</span>
                        </a> -->
                        <a class="is-submenu" (click)="onTransversality()" [routerLink]="['/parameters/transversality/']">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Niveaux de transversalité</span>
                        </a>
                    </li>

                    <li>
                        <!-- <a class="is-submenu" (click)="onGain()">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Gain</span>
                        </a> -->
                        <a class="is-submenu" (click)="onGain()" [routerLink]="['/parameters/gains/']">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Gain</span>
                        </a>
                    </li>

                    <li>
                        <!-- <a class="is-submenu" (click)="onCycle()">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Cycle</span>
                        </a> -->
                        <a (click)="onCycle()" class="is-submenu" [routerLink]="['/parameters/cycles/']">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Cycle</span>
                        </a>
                    </li>

                    <li>
                        <!-- <a class="is-submenu" (click)="onSession()">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Séance</span>
                        </a> -->
                        <a (click)="onSession()" class="is-submenu" [routerLink]="['/parameters/session/']">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Séance</span>
                        </a>
                    </li>
                    <li>
                        <!-- <a class="is-submenu" (click)="onStatus()">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Statut</span>
                        </a> -->
                        <a (click)="onStatus()" class="is-submenu" [routerLink]="['/parameters/status/']">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Statut</span>
                        </a>
                    </li>

                    <li>
                        <!-- <a class="is-submenu" (click)="onPenalyType()">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Type Penalité</span>
                        </a> -->
                        <a class="is-submenu" (click)="onPenalyType()" [routerLink]="['/parameters/penalty-type/']">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Type Penalité</span>
                        </a>
                    </li>

                    <li>
                        <!-- <a class="is-submenu" (click)="onPenaly()">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Penalité</span>
                        </a> -->
                        <a class="is-submenu" (click)="onPenaly()" [routerLink]="['/parameters/penalty/']">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Penalité</span>
                        </a>
                    </li>

                    <li>
                        <!-- <a class="is-submenu" (click)="onPaymentStatus()">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Statut Paiement</span>
                        </a> -->
                        <a class="is-submenu" (click)="onPaymentStatus()" [routerLink]="['/parameters/payment-status/']">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Statut Paiement</span>
                        </a>
                    </li>
                   
                    <!-- <li>
                        <a class="is-submenu">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Mutualistes</span>
                        </a>
                    </li> -->
                </ul> 
            </li>
            <li class="has-children" [ngClass]="activeMutualInvestment ">
                <div class="collapse-wrap">
                    <a href="javascript:void(0);"class="parent-link" (click)="onDisplayMutualInvestment()">Placements Mutualisés <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></a>
                </div>
                <ul [style.display]="wrapdwonDetailMutualInvestment ">

                    <li>
                        <!-- <a class="is-submenu" (click)="onDraweeForm()">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Formulaire de tirage</span>
                        </a> -->
                        <a class="is-submenu" (click)="onDraweeForm()" [routerLink]="['/parameters/drawee-form/']">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Formulaire de tirage</span>
                        </a>
                    </li>

                    <li>
                        <!-- <a class="is-submenu" (click)="onProfitabilityType()">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Type de rentabilité</span>
                        </a> -->
                        <a class="is-submenu" (click)="onProfitabilityType()" [routerLink]="['/parameters/profitability-type/']">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Type de rentabilité</span>
                        </a>
                    </li>

                    <li>
                        <!-- <a class="is-submenu" (click)="onRefundType()">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Type de remboursement</span>
                        </a> -->
                        <a  (click)="onRefundType()" class="is-submenu" [routerLink]="['/parameters/refund-type/']">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Type de remboursement</span>
                        </a>
                    </li>

                    <li>
                        <a  (click)="onRiskProfile()" class="is-submenu" [routerLink]="['/parameters/risk-profile/']">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Profil des risques</span>
                        </a>
                    </li>

                    <li>
                        <a  (click)="onSecurityDeposit()" class="is-submenu" [routerLink]="['/parameters/security-deposit/']">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Cautions</span>
                        </a>
                    </li>

                    <li>
                        <a  (click)="onSubscriptionOffer()" class="is-submenu" [routerLink]="['/parameters/subscription-offer/']">
                            <i class="lnil lnil-list-alt-1"></i>
                            <span>Offres de souscription</span>
                        </a>
                    </li>
                </ul> 
            </li>
        </ul>
    </div></div></div></div><div class="simplebar-placeholder" style="width: auto; height: 643px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 496px; transform: translate3d(0px, 0px, 0px); display: block;"></div></div></div>
</div>

<div id="app-hr" class="view-wrapper" [ngClass]="isPushed" data-naver-offset="150" data-menu-item="#home-sidebar-menu"
    data-mobile-item="#home-sidebar-menu-mobile">
    <div class="page-content-wrapper">
        <div class="page-content is-relative">

            <div class="page-title has-text-centered">
                <div class="huro-hamburger nav-trigger push-resize" data-sidebar="layouts-sidebar">
                    <span class="menu-toggle has-chevron">
                      <span class="icon-box-toggle" [ngClass]="activeToggle" (click)="activeHomeSider()">
                          <span class="rotate">
                              <i class="icon-line-top"></i>
                              <i class="icon-line-center"></i>
                              <i class="icon-line-bottom"></i>
                          </span>
                    </span>
                    </span>
                </div>

                <div class="title-wrap">
                    <h1 class="title is-4">{{ dynamicTitle }}</h1>
                </div>

            </div>

            <router-outlet></router-outlet>

            <!-- <app-transversality *ngIf="isTransversality"></app-transversality>
            <app-frequency *ngIf="isFrequency"></app-frequency>
            <app-gain *ngIf="isGain"></app-gain>
            <app-session *ngIf="isSession"></app-session>
            <app-cycle *ngIf="isCycle"></app-cycle>
            <app-status *ngIf="isStatus"></app-status>
            <app-penality-type *ngIf="isPenaltyType"></app-penality-type>
            <app-penalty *ngIf="isPenalty"></app-penalty>
            <app-payment-status *ngIf="isPaymentStatus"></app-payment-status>
            <app-poste *ngIf="isPoste"></app-poste>
            <app-piece-type *ngIf="isPieceType"></app-piece-type>
            <app-family-situation *ngIf="isFamilySituation"></app-family-situation>
            <app-civility *ngIf="isCivility"></app-civility>

            <app-drawee-form *ngIf="isDraweeForm"></app-drawee-form>
            <app-profitability-type *ngIf="isProfitabilityType"></app-profitability-type>
            <app-refund-type *ngIf="isRefundType"></app-refund-type> -->
        </div>
    </div>

</div> 
