<div class="list-flex-toolbar">
    <form [formGroup]="searchForm">
        <div class="control has-icon">
            <input class="input custom-text-filter" (ngModelChange)="searchCategories()" formControlName="name" placeholder="Search..." data-filter-target=".flex-table-item">
            <div class="form-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
            </div>
        </div>
    </form>

    <div class="buttons">
        <button  (click)="onOpenCreateModal()" class="button h-button is-primary is-elevated">
            <span class="icon">
              <i aria-hidden="true" class="fas fa-plus"></i>
          </span>
            <span>Créer une catégorie</span>
        </button>
    </div>
</div>

<div class="page-content-inner">

    <div class="flex-list-wrapper flex-list-v1">

        <!--List Empty Search Placeholder -->
        <div *ngIf="categories.length == 0 && show" class="page-placeholder custom-text-filter-placeholder">
            <div class="placeholder-content">
                <img class="light-image" src="assets/img/illustrations/placeholders/search-7.svg" alt="">
                <img class="dark-image" src="assets/img/illustrations/placeholders/search-7-dark.svg" alt="">
                <h3>Désolé la liste est actuellement vide.</h3>
                <p class="is-larger">Veuillez creer une categorie pour qu'elle soit afficher.</p>
            </div>
        </div>
        
        <div *ngIf="categories.length != 0" class="flex-table">

            <!--Table header-->
            <div class="flex-table-header" data-filter-hide="">
                <span class="is-grow">Id</span>
                <span>Name</span>
                <span>Description</span>
                <span class="cell-end">Actions</span>
            </div>

            <div class="flex-table-item" *ngFor="let category of categories">
                <div class="flex-table-cell is-media is-grow">
                    <div>
                        <span class="item-name dark-inverted" data-filter-match="">{{ category.id }}</span>
                        <span class="item-meta">
                          <span data-filter-match="">{{ category.name }}</span>
                        </span>
                    </div>
                </div>
                <div class="flex-table-cell" data-th="Nom">
                    <span class="light-text" data-filter-match="">{{ category.name }}</span>
                </div>
                <div class="flex-table-cell" data-th="Description">
                    <span class="light-text" data-filter-match="">{{ category.description }}</span>
                </div>
                <div class="flex-table-cell cell-end" data-th="Actions">
                    <div class="dropdown is-spaced is-dots is-right dropdown-trigger is-pushed-mobile">
                    <a _ngcontent-nct-c62="" (click)="onOpenUpdateCategory(category.id)" tooltip=" Modifier la categorie " theme='light' class="pagination-previous has-chevron"><i class="lnir lnir-pencil"></i></a>
                    <a _ngcontent-nct-c62="" (click)="onDeleteCategory(category.id)" tooltip=" Supprimer la categorie " theme='light' class="pagination-previous has-chevron" style="color: brown"><i class="lnil lnil-trash-can-alt"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!--Table Pagination-->
        <nav class="flex-pagination pagination is-rounded" aria-label="pagination" data-filter-hide="">
            <a class="pagination-previous has-chevron"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg></a>
            <a class="pagination-next has-chevron"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></a>
            <ul class="pagination-list">
                <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                <li><span class="pagination-ellipsis">…</span></li>
                <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a>
                </li>
                <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                <li><span class="pagination-ellipsis">…</span></li>
                <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
            </ul>
        </nav>
    </div>

</div>

<!--New User Category-->
<div id="createCategory" class="modal h-modal" [ngClass]="openCreateModal">
    <div class="modal-background h-modal-close"></div>
    <div class="modal-content">
        <div class="modal-card">
            <header class="modal-card-head">
                <h3>Création d'une categorie d'utilisateur</h3>
                <button class="h-modal-close ml-auto" aria-label="close" (click)="closeCreateModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </header>
            <div class="modal-card-body">
                <div class="inner-content">
                        <form class="modal-form" [formGroup]="createCategoryForm" (ngSubmit)="onCreateCategory()">
                            <div class="field">
                                <label>Nom de la categorie*</label>
                                <div class="control">
                                    <input type="text" formControlName="name" class="input" placeholder="Nom de la categorie">
                                </div>
                                <div class="text-danger"
                                *ngIf="createCategoryForm.get('name')?.errors?.['required'] && createCategoryForm.get('name')?.touched">
                                <small class="text-police" translate>Veuillez entrer l'appelation de la categorie</small>
                                </div>
                            </div>

                        <div class="field">
                            <label>Description</label><br>
                            <div class="control">
                                <textarea type="text" class="textarea" rows="4" placeholder="Description" formControlName="description"></textarea>
                            </div>
                            <div class="text-danger"
                            *ngIf="updateCategoryForm.get('description')?.errors?.['required'] && updateCategoryForm.get('description')?.touched">
                            <small class="text-police" translate>Veuillez entrer la description de la categorie</small>
                            </div>
                        </div>
                        <div class="control login">
                            <button class="button h-button is-primary is-bold is-fullwidth is-raised" [disabled]="createCategoryForm.invalid || isSaving">Creer</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-card-foot is-end">
                <a class="button h-button is-rounded h-modal-close" (click)="closeCreateModal()">Annuler</a>
            </div>
        </div>
    </div>
</div>

<!--Update User Category-->
<div id="updateCategory" class="modal h-modal" [ngClass]="openUpdateModal">
    <div class="modal-background h-modal-close"></div>
    <div class="modal-content">
        <div class="modal-card">
            <header class="modal-card-head">
                <h3>Modification de la categorie</h3>
                <button class="h-modal-close ml-auto" aria-label="close" (click)="closeUpdateModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </header>
            <div class="modal-card-body">
                <div class="inner-content">
                        <form class="modal-form" [formGroup]="updateCategoryForm" (ngSubmit)="onUpdateCategory(category.id)">
                            <div class="field">
                                <label>Nom de la categorie*</label>
                                <div class="control">
                                    <input type="text" formControlName="name" [(ngModel)]="category.name" class="input" placeholder="Categorie">
                                </div>
                                <div class="text-danger"
                                *ngIf="updateCategoryForm.get('name')?.errors?.['required'] && updateCategoryForm.get('name')?.touched">
                                <small class="text-police" translate>Veuillez entrer le nom de la categorie</small>
                                </div>
                            </div>

                        <div class="field">
                            <label>Description</label><br>
                            <div class="control">
                                <textarea type="text" [(ngModel)]="category.description" class="textarea" rows="4" placeholder="Description" formControlName="description"></textarea>
                            </div>
                            <div class="text-danger"
                            *ngIf="updateCategoryForm.get('description')?.errors?.['required'] && updateCategoryForm.get('description')?.touched">
                            <small class="text-police" translate>Veuillez entrer la description de la categorie</small>
                            </div>
                        </div>
                        <div class="control login">
                            <button class="button h-button is-primary is-bold is-fullwidth is-raised" [disabled]="updateCategoryForm.invalid || isSaving">Modifier</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-card-foot is-end">
                <a class="button h-button is-rounded h-modal-close" (click)="closeCreateModal()">Annuler</a>
            </div>
        </div>
    </div>
</div>



