<div id="layouts-sidebar" class="sidebar-panel is-generic" [ngClass]="homeSider">
    <div class="subpanel-header">

        <div class="dropdown project-dropdown dropdown-trigger is-spaced">
            <div class="h-avatar is-small">
                <span class="avatar is-fake is-h-green">
                  <span>H</span>
                </span>
            </div>
            <span class="status-indicator"></span>

            <div class="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    <div class="dropdown-block">
                        <div class="h-avatar is-small">
                            <span class="avatar is-fake is-warning">
                              <span>D</span>
                            </span>
                        </div>
                        <div class="meta">
                            <span class="dark-inverted">Delivery App Project</span>
                            <span>Food For Good</span>
                        </div>
                    </div>
                    <div class="dropdown-block">
                        <div class="h-avatar is-small">
                            <span class="avatar is-fake is-h-green">
                              <span>M</span>
                            </span>
                        </div>
                        <div class="meta">
                            <span class="dark-inverted">Health and Fitness Dashboard</span>
                            <span>Fit'n'Dance</span>
                        </div>
                    </div>
                    <div class="dropdown-block">
                        <div class="h-avatar is-small">
                            <span class="avatar is-fake is-info">
                              <span>L</span>
                            </span>
                        </div>
                        <div class="meta">
                            <span class="dark-inverted">Learning Tracker Dashboard</span>
                            <span>Fit'n'Dance</span>
                        </div>
                    </div>
                    <div class="dropdown-block">
                        <div class="h-avatar is-small">
                            <span class="avatar is-fake is-h-purple">
                              <span>B</span>
                            </span>
                        </div>
                        <div class="meta">
                            <span class="dark-inverted">Banking and Finance Dashboard</span>
                            <span>H Bank</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="no-mb">Management</h3>
        <div class="panel-close">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
        </div>
    </div>
    <div class="inner" data-simplebar="init"><div class="simplebar-wrapper" style="margin: 0px;"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask"><div class="simplebar-offset" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden scroll;"><div class="simplebar-content" style="padding: 0px;">
        <ul>
           
        </ul>
    </div></div></div></div><div class="simplebar-placeholder" style="width: auto; height: 643px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 496px; transform: translate3d(0px, 0px, 0px); display: block;"></div></div></div>
</div>

<div id="app-hr" class="view-wrapper" [ngClass]="isPushed" data-naver-offset="150" data-menu-item="#home-sidebar-menu"
    data-mobile-item="#home-sidebar-menu-mobile">
    <div class="page-content-wrapper">
        <div class="page-content is-relative">

            <div class="page-title has-text-centered">
                <!-- Sidebar Trigger -->
                <div class="huro-hamburger nav-trigger push-resize" data-sidebar="layouts-sidebar">
                    <span class="menu-toggle has-chevron">
                      <span class="icon-box-toggle" [ngClass]="activeToggle" (click)="activeHomeSider()">
                          <span class="rotate">
                              <i class="icon-line-top"></i>
                              <i class="icon-line-center"></i>
                              <i class="icon-line-bottom"></i>
                          </span>
                    </span>
                    </span>
                </div>

                <div class="title-wrap">
                    <h1 class="title is-4">Liste des séances de {{ cycle.name }} </h1>
                </div>

            </div>
            <a (click)="backBack()" tooltip=" Retour " theme='light' class="pagination-previous has-chevron"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg></a><br><br>
            
<div class="list-flex-toolbar">
    <div class="control has-icon">
        <input class="input custom-text-filter" placeholder="Search..." data-filter-target=".flex-table-item">
        <div class="form-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
        </div>
    </div>
</div>


<div class="page-content-inner">

    <div class="flex-list-wrapper flex-list-v1">

        <!--List Empty Search Placeholder -->
        <div class="page-placeholder custom-text-filter-placeholder is-hidden">
            <div class="placeholder-content">
                <!-- <img class="light-image" src="assets/img/illustrations/placeholders/search-4.svg" alt=""> -->
                <!-- <img class="dark-image" src="assets/img/illustrations/placeholders/search-4-dark.svg" alt=""> -->
                <h3>We couldn't find any matching results.</h3>
                <p class="is-larger">Too bad. Looks like we couldn't find any matching results for the
                    search terms you've entered. Please try different search terms or criteria.</p>
            </div>
        </div>


        <div class="search-results-wrapper ">


            <div class="search-results-body">
                <div class="columns">

                    <!--Filters-->
                
                    <div class="column is-4">
                        <div class="filter-box">
                            <h4 class="dark-inverted">Détails du cycle</h4>
                            <div class="field">
                                <div class="control">
                                    <label class="checkbox is-circle">
                                        <span></span>
                                        Montant du lot
                                    </label>
                                    <div class="control-end">
                                        <span class="tag is-rounded">{{ cycle.lotAmount }} FCFA</span>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label class="checkbox is-circle">
                                        <span></span>
                                        Nom du cycle
                                    </label>
                                    <div class="control-end">
                                        <span class="tag is-rounded">{{ cycle.name }}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <label class="checkbox is-circle">
                                        <span></span>
                                        Date de début
                                    </label>
                                    <div class="control-end">
                                        <span class="tag is-rounded">{{ cycle.startDate }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label class="checkbox is-circle">
                                        <span></span>
                                        Date de cloture
                                    </label>
                                    <div class="control-end">
                                        <span class="tag is-rounded">{{ cycle.endDate }}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <label class="checkbox is-circle">
                                        <span></span>
                                        Statut
                                    </label>
            
                                    <div class="control-end">
                                        <span class="tag is-rounded" data-filter-match="" [ngClass]="{'is-danger': cycle.status.label === 'FERMÉ', 'is-success': cycle.status.label === 'OUVERT'}">{{ cycle.status.label }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="filter-box">
                 
                            <div class="field">
                                <div class="control">
                                    <label class="checkbox is-circle">
                                        <span></span>
                                        Nombre de séances
                                    </label>
                                    <div class="control-end">
                                        <span class="tag is-rounded">{{ cycle.sessions.length }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <label class="checkbox is-circle">
                                        <span></span>
                                        Nombre de séances passée
                                    </label>
                                    <div class="control-end">
                                        <span class="tag is-rounded">{{ cycle.numberOfSessionPassed }}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="field">
                                <div class="control">
                                    <label class="checkbox is-circle">
                                        <span></span>
                                        Nombre de séances restantes
                                    </label>
                                    <div class="control-end">
                                        <span class="tag is-rounded">{{ cycle.numberOfSessionRemaining }}</span>
                                    </div>
                                </div>
                            </div>
                         
                           
                        </div>


                    </div>

                    <!--Results-->
                    <div class="column is-8">

                        <div class="flex-table">

                            <!--Table header-->
                            <div class="flex-table-header" data-filter-hide="">
                                <!-- <span>Date limite de cotisation</span> -->
                                <span>Date</span>
                                <!-- <span>hour</span> -->
                                <span>Total cotisé (FCFA)</span>
                                <span>Total à cotiser (FCFA)</span>
                                <span>Total des pénalités (FCFA)</span>
                                <span style="color: black; font-weight: 650;">Cotiser</span>
                                <span style="color: black; font-weight: 650;">Pénaliser</span>
                                <span>Statut</span>
                                <span>Gagnant</span>
                                <span>Action</span>
                            </div>
                            <div class="flex-list-inner">
                                <!--Table item-->
                                <div class="flex-table-item" *ngFor="let session of sessions">

                                    <div class="flex-table-cell" data-th="Date">
                                        <span class="light-text" data-filter-match="">{{ session.date }}</span>
                                    </div>
                                    <div class="flex-table-cell" data-th="Total cotisé (FCFA)">
                                        <span class="light-text" data-filter-match="">{{ session.totalPaid }}</span>
                                    </div>
                                    <div class="flex-table-cell" data-th="Total à cotiser (FCFA)">
                                        <span class="light-text" data-filter-match="">{{ session.totalToBePaid }}</span>
                                    </div>
                                    <div class="flex-table-cell" data-th="Total des pénalités (FCFA)">
                                        <span class="light-text" data-filter-match="">{{ session.totalPenalties }}</span>
                                    </div>
                                    <div class="flex-table-cell" data-th="Cotiser">
                                        <span class="light-text" data-filter-match="">{{ session.payments.length }}</span>
                                        <a *ngIf="isEntryAgent" class="pagination-previous has-chevron" [ngClass]="{'disabled': session.status.label === 'FERMÉ'}" tooltip=" Cotiser " theme='light' (click)="onOpenPaymentModal(session.id)"> <img width="18" height="18" src="{{ geUrl }}" alt=""></a>
                                        <a _ngcontent-nct-c62="" [routerLink]="['/all-payment-of-session']" [queryParams]="{id: session.id, tontine: isTontine}" tooltip=" Voir details cotisation " theme='light' class="pagination-previous has-chevron" style="color: blue"> <i class="lnil lnil-eye"></i></a>
                                    </div>
        
                                    <div class="flex-table-cell" data-th="Pénaliser">
                                        <span class="light-text" data-filter-match="">{{ session.penalties.length }}</span>
                                        <a *ngIf="isEntryAgent" class="pagination-previous has-chevron" [ngClass]="{'disabled': session.status.label === 'FERMÉ'}" tooltip=" Appliquer une pénalité " theme='light' (click)="onOpenPanalityModal(session.id)"> <img width="20" height="20" src="{{ geUrl_penality }}" alt=""></a>
                                        <a _ngcontent-nct-c62="" [routerLink]="['/all-penality-of-session']" [queryParams]="{id: session.id, tontine: isTontine}" tooltip=" Voir details pénalité " theme='light' class="pagination-previous has-chevron" style="color: blue"> <i class="lnil lnil-eye"></i></a>
                                    </div>
                                    <div class="flex-table-cell" data-th="Statut">
                                        <span class="tag is-rounded" data-filter-match="" *ngIf="session.winner != null">CLOTURÉ</span>
                                        <span class="tag is-rounded cliquable-span" data-filter-match="" *ngIf="session.winner == null" (click)="onUpdateSessionStatus(session.id, session.status.label)" [ngClass]="{'is-danger': session.status.label === 'FERMÉ', 'is-success': session.status.label === 'OUVERT'}">{{ session.status.label }}</span>
                                        <a  class="pagination-previous has-chevron" *ngIf="session.status.label === 'CLOTURÉ' && session.winner == null && session.totalToBePaid >0" (click)="onGenerateWinner(session.id)"> <img width="18" height="18" src="{{ geUrl_aleatoire }}" alt=""></a>
                                    </div>
                                    <div class="flex-table-cell" data-th="Gagnant">
                                        <span class="light-text mr-2" data-filter-match="" *ngIf="session.winner != null">{{ session?.winner?.firstName }}-{{ cycle.lotAmount }} FCFA </span>
                                        <!-- <span class="light-text mr-2" data-filter-match="" *ngIf="session.winner == null">aucun</span> -->
                                    </div>
                                    <div class="flex-table-cell cell-end" data-th="Actions">
                                        <div class="dropdown is-spaced is-dots is-right dropdown-trigger is-pushed-mobile">
                                        <a _ngcontent-nct-c62="" [routerLink]="['/view-more-details-session']" [queryParams]="{id: session.id}" tooltip=" Voir details séance " theme='light' class="pagination-previous has-chevron" style="color: blue"> <i class="lnil lnil-eye"></i></a>
                                       
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <nav class="flex-pagination pagination is-rounded" aria-label="pagination" data-filter-hide="">
                            <a class="pagination-previous has-chevron"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg></a>
                            <a class="pagination-next has-chevron"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></a>
                            <ul class="pagination-list">
                                <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                                <li><span class="pagination-ellipsis">…</span></li>
                                <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                                <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a>
                                </li>
                                <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                                <li><span class="pagination-ellipsis">…</span></li>
                                <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
                            </ul>
                        </nav>
                

                    </div>

                </div>
            </div>

        </div>
    </div>

</div>


    </div>
    </div>

</div>


<div id="addPayment" class="modal h-modal" [ngClass]="openPaymntModal">
    <div class="modal-background h-modal-close"></div>
    <div class="modal-content">
        <div class="modal-card">
            <header class="modal-card-head">
                <h3>Cotisation</h3>
                <button class="h-modal-close ml-auto" aria-label="close" (click)="closePaymentModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </header>
            <div class="modal-card-body">
                <div class="inner-content">
                    <form class="modal-form" [formGroup]="paymentForm" (ngSubmit)="onSubmitPayment()">
                        <div class="field">
                            <label>Membres de la tontine*</label>
                            <select2
                                    class="w-100 color-border"
                                    [data]="membersArray"
                                    id="club"
                                    formControlName="idMember"
                                    placeholder="--Selectionnez un membre--">
                            </select2>
                                <div class="text-danger"
                                    *ngIf="paymentForm.get('idMember')?.errors?.['required'] && paymentForm.get('idMember')?.touched">
                                    <small class="text-police">veuillez entrer le montant cotisé</small>
                                </div>
                        </div>
                        <div class="field">
                            <label>Méthode de paiement  *</label>
                            <select class="input_comp color-border" aria-label="Default select example" formControlName="idPaymentMethod" [(ngModel)]="ngSelectPaymentMethod">
                                <option value="0" disabled>--Selectionnez une méthode de paiement--</option>
                                <option *ngFor="let paymentMethod of paymentMethods" [value]="paymentMethod.id"> <span> {{ paymentMethod.label }}</span> </option>
                            </select>

                            <div class="text-danger"
                                *ngIf="paymentForm.get('idPaymentMethod')?.errors?.['required'] && paymentForm.get('idPaymentMethod')?.touched">
                                <small class="text-police">veuillez selectionner une méthode de paiement</small>
                             </div>
                        </div>
                        <div class="field">
                            <label>Montant cotisé*</label><br>
                            <div class="control">
                                <input type="number" class="input" placeholder="Montant" formControlName="amount">
                            </div>
                            <div class="text-danger"
                                *ngIf="paymentForm.get('amount')?.errors?.['required'] && paymentForm.get('amount')?.touched">
                                <small class="text-police">veuillez entrer le montant cotisé</small>
                             </div>
                        </div>
                        
                        <div class="field">
                            <label>Justificatif*</label><br>
                            <div class="control">
                                <input type="text" class="input" placeholder="Justificatif" formControlName="proof">
                            </div>
                            <div class="text-danger"
                                *ngIf="paymentForm.get('proof')?.errors?.['required'] && paymentForm.get('proof')?.touched">
                                <small class="text-police">veuillez entrer la preuve de la cotisation</small>
                             </div>
                        </div>

                        <div class="field">
                            <label>Date de cotisation *</label><br>
                            <div class="card-header-widget datepicker-style">
                                <div class="input-daterange input-group align-items-center">
                                    <input formControlName="date" class="champ" type="date" id="DOB" name="DOB" [(ngModel)]="date" (input)="onSelectDate($event.timeStamp)">
                                </div>
                           </div>
                           <div class="text-danger" *ngIf="paymentForm.get('date')?.errors?.['required'] && paymentForm.get('date')?.touched">
                             <small class="text-police" translate>selectionner la date de paiement</small>
                           </div>
                        </div>
                        <div class="control login">
                            <button class="button h-button is-primary is-bold is-fullwidth is-raised" [disabled] ="paymentForm.invalid || isSaving" >Cotiser</button>
                        </div><br>
                       
                    </form>
                </div>
            </div>
            <div class="modal-card-foot is-end">
                <a class="button h-button is-rounded h-modal-close" (click)="closePaymentModal()">Annuler</a>
            </div>
        </div>
    </div>
</div>

<div id="addPenality" class="modal h-modal" [ngClass]="openPenalityModal">
    <div class="modal-background h-modal-close"></div>
    <div class="modal-content">
        <div class="modal-card">
            <header class="modal-card-head">
                <h3>Pénalisation</h3>
                <button class="h-modal-close ml-auto" aria-label="close" (click)="closePenalityModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </header>
            <div class="modal-card-body">
                <div class="inner-content">
                    <form class="modal-form" [formGroup]="penalityForm" (ngSubmit)="onSubmitPenality()">
                        <div class="field">
                            <label>Membres de la tontine*</label>
                            <select2
                                    class="w-100 color-border"
                                    [data]="membersArray"
                                    id="club"
                                    formControlName="idMember"
                                    placeholder="--Selectionnez un membre--">
                            </select2>
                                <div class="text-danger"
                                    *ngIf="penalityForm.get('idMember')?.errors?.['required'] && penalityForm.get('idMember')?.touched">
                                    <small class="text-police">veuillez entrer le montant cotisé</small>
                                </div>
                        </div>
                        
                        <div class="field">
                            <label>Pénalité à appliquer  *</label>
                            <select class="input_comp color-border" aria-label="Default select example" formControlName="idPenaltyType" [(ngModel)]="ngSelect3">
                                <option value="0" disabled>--Selectionnez pénalité--</option>
                                <option *ngFor="let penalityType of penalityTypes" [value]="penalityType.id"> <span> {{ penalityType.label }} - {{ penalityType.amount }} FCFA</span> </option>
                            </select>
                        </div>

                        <div class="field">
                            <label>Date*</label><br>
                            <div class="card-header-widget datepicker-style">
                                <div class="input-daterange input-group align-items-center">
                                    <input formControlName="date" class="champ" type="date" id="DOB" name="DOB"  [(ngModel)]="date" (input)="onSelectDate($event.timeStamp)">
                                </div>
                           </div>
                           <div class="text-danger" *ngIf="penalityForm.get('date')?.errors?.['required'] && penalityForm.get('date')?.touched">
                             <small class="text-police" translate>selectionner la date de paiement</small>
                           </div>
                        </div>
                        <div class="control login">
                            <button class="button h-button is-primary is-bold is-fullwidth is-raised" [disabled] ="penalityForm.invalid || isSaving" >Pénaliser</button>
                        </div><br>
                       
                    </form>
                </div>
            </div>
            <div class="modal-card-foot is-end">
                <a class="button h-button is-rounded h-modal-close" (click)="closePenalityModal()">Annuler</a>
            </div>
        </div>
    </div>
</div>

<div id="updateContributionDeadline" class="modal h-modal" [ngClass]="openupdateContributionDeadlineModal">
    <div class="modal-background h-modal-close"></div>
    <div class="modal-content">
        <div class="modal-card">
            <header class="modal-card-head">
                <h3>Modification de la date limite de cotisation</h3>
                <button class="h-modal-close ml-auto" aria-label="close" (click)="closeUpdateContributionDeadlineModalModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </header>
            <div class="modal-card-body">
                <div class="inner-content">
                    <form class="modal-form" [formGroup]="updateContributionDeadlineForm" (ngSubmit)="onSubmitContributionDeadline()">
                        <div class="field">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Date limite *</label><br>
                                    <div class="card-header-widget datepicker-style">
                                        <div class="input-daterange input-group align-items-center">
                                            <input class="champ" formControlName="contributionDeadline" type="datetime-local" id="DOB" name="DOB" [(ngModel)]="dateDeadline" (input)="onSelectDate($event.timeStamp)">
                                        </div>
                                   </div>
                                   <div class="text-danger" *ngIf="updateContributionDeadlineForm.get('contributionDeadline')?.errors?.['required'] && updateContributionDeadlineForm.get('contributionDeadline')?.touched">
                                     <small class="text-police">selectionner la date limite de cotisation</small>
                                   </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Date *</label><br>
                                    <div class="card-header-widget datepicker-style">
                                        <div class="input-daterange input-group align-items-center">
                                            <input class="champ" formControlName="date" type="date" id="DOB" name="DOB" [(ngModel)]="date" (input)="onSelectDate($event.timeStamp)">
                                        </div>
                                   </div>
                                   <div class="text-danger" *ngIf="updateContributionDeadlineForm.get('date')?.errors?.['required'] && updateContributionDeadlineForm.get('date')?.touched">
                                     <small class="text-police">selectionner la date</small>
                                   </div>
                                </div>
                            </div>
                        </div>
                        <div class="control login">
                            <button class="button h-button is-primary is-bold is-fullwidth is-raised" [disabled] ="updateContributionDeadlineForm.invalid" >Modifier</button>
                        </div><br>
                       
                    </form>
                </div>
            </div>
            <div class="modal-card-foot is-end">
                <a class="button h-button is-rounded h-modal-close" (click)="closeUpdateContributionDeadlineModalModal()">Annuler</a>
            </div>
        </div>
    </div>
</div>

