<div class="list-flex-toolbar" *ngIf="!createMutualInvestment">
    <div class="control has-icon">
        <input class="input custom-text-filter" placeholder="Search..." data-filter-target=".flex-table-item">
        <div class="form-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
        </div>
    </div>

    <div class="buttons" (click)="onOpenCreateMutualInvestment()">
        <button class="button h-button is-primary is-elevated">
            <span class="icon">
              <i aria-hidden="true" class="fas fa-plus"></i>
          </span>
            <span>Créer un placement mutualisé</span>
        </button>
    </div>
</div>

<div class="page-content-inner" *ngIf="!createMutualInvestment">

    <div class="flex-list-wrapper flex-list-v1">

        <!--List Empty Search Placeholder -->
        <div *ngIf="mutualInvestments.length == 0" class="page-placeholder custom-text-filter-placeholder">
            <div class="placeholder-content">
                <img class="light-image" src="assets/img/illustrations/placeholders/search-7.svg" alt="">
                <img class="dark-image" src="assets/img/illustrations/placeholders/search-7-dark.svg" alt="">
                <h3>Désolé la liste est actuellement vide.</h3>
                <p class="is-larger">Veuillez creer/ajouter un placement pour qu'il soit afficher.</p>
            </div>
        </div>
        
        <div *ngIf="mutualInvestments.length != 0" class="flex-table">

            <!--Table header-->
            <div class="flex-table-header" data-filter-hide="">
                <span>Nom</span>
                <!-- <span>Organisme</span> -->
                <span>Montant minimal</span>
                <span>Taux rentabilité</span>
                <span>Centre</span>
                <!-- <span>Statut</span> -->
                <span>Offres</span>
                <span>Caution</span>
                <span>Debloquer</span>
                <span>Rembourser</span>
                <span class="cell-end">Actions</span>
            </div>

            <div class="flex-list-inner">
                <!--Table item-->
                <div class="flex-table-item" *ngFor="let mutualInvestment of mutualInvestments">
                    <div class="flex-table-cell" data-th="Nom">
                        <span class="light-text" data-filter-match="">{{ mutualInvestment.name }}</span>
                    </div>
                    <!-- <div class="flex-table-cell" data-th="Organisme">
                        <span class="light-text" data-filter-match="">{{ mutualInvestment.organism }}</span>
                    </div> -->
                    <div class="flex-table-cell" data-th="Montant minimal">
                        <span class="light-text" data-filter-match="">{{ mutualInvestment.minimumAmount }}</span>
                    </div>
                    <div class="flex-table-cell" data-th="Taux rentabilité">
                        <span class="light-text" data-filter-match="">{{ mutualInvestment.profitabilityRate }}</span>
                    </div>
                    <div class="flex-table-cell" data-th="Centre">
                        <span class="light-text" data-filter-match="">{{ mutualInvestment.mutualCenter.name }}</span>
                    </div>
                    <!-- <div class="flex-table-cell" data-th="Statut">
                        <span class="light-text" data-filter-match="">{{ mutualInvestment.status }}</span>
                    </div> -->
                    <div class="flex-table-cell" data-th="Offre(s)">
                        <span class="light-text" data-filter-match="">{{ mutualInvestment.offers.length }}</span>
                        <a class="pagination-previous has-chevron" tooltip=" Ajouter une offre " theme='light' (click)="onOpenAddSubscriptionOffer(mutualInvestment.id)"><i class="lnir lnir-plus"></i></a>
                        <a _ngcontent-nct-c62="" [routerLink]="['/view-more-subscription-offer']"
                        [queryParams]="{id: mutualInvestment.id}" tooltip=" Voir details offre " theme='light' class="pagination-previous has-chevron" style="color: blue"> <i class="lnil lnil-eye"></i></a>
                    </div>
                    <div class="flex-table-cell" data-th="Caution(s)">
                        <span class="light-text" data-filter-match="">{{ mutualInvestment.securityDeposits.length }}</span>
                        <a class="pagination-previous has-chevron" tooltip=" Ajouter une caution " theme='light' (click)="onOpenAddSecurityDeposit(mutualInvestment.id)"><i class="lnir lnir-plus"></i></a>
                        <a _ngcontent-nct-c62="" [routerLink]="['/view-more-security-deposit']"
                        [queryParams]="{id: mutualInvestment.id}" tooltip=" Voir details caution " theme='light' class="pagination-previous has-chevron" style="color: blue"> <i class="lnil lnil-eye"></i></a>
                    </div>
                    <div class="flex-table-cell" data-th="Debloquer">
                        <a _ngcontent-nct-c62="" (click)="onUnlock(mutualInvestment.id)" tooltip=" Debloquer le placement " theme='light' class="pagination-previous has-chevron"><i class="lnil lnil-lock-alt-1"></i></a>
                    </div>
                    <div class="flex-table-cell" data-th="Rembourser">
                        <a _ngcontent-nct-c62="" (click)="onRefund(mutualInvestment.id)" tooltip=" Rembourser le placement " theme='light' class="pagination-previous has-chevron">$</a>
                    </div>
                    <div class="flex-table-cell cell-end" data-th="Actions">
                        <div class="dropdown is-spaced is-dots is-right dropdown-trigger is-pushed-mobile">
                        <a _ngcontent-nct-c62="" (click)="onUpdateMutualInvestment(mutualInvestment.id)" tooltip=" Modifier le placement " theme='light' class="pagination-previous has-chevron"><i class="lnir lnir-pencil"></i></a>
                        <a _ngcontent-nct-c62="" [routerLink]="['/view-detail-mutual-investment']"
                        [queryParams]="{id: mutualInvestment.id}" tooltip=" Voir le placement " theme='light' class="pagination-previous has-chevron" style="color: blue"> <i class="lnil lnil-eye"></i></a>
                        <a _ngcontent-nct-c62="" (click)="onDeleteMutualInvestment(mutualInvestment.id)" tooltip=" Retirer le placement " theme='light' class="pagination-previous has-chevron" style="color: brown"><i class="lnil lnil-trash-can-alt"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--Table Pagination-->
        <nav class="flex-pagination pagination is-rounded" aria-label="pagination" data-filter-hide="">
            <a class="pagination-previous has-chevron"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg></a>
            <a class="pagination-next has-chevron"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></a>
            <ul class="pagination-list">
                <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                <li><span class="pagination-ellipsis">…</span></li>
                <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a>
                </li>
                <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                <li><span class="pagination-ellipsis">…</span></li>
                <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
            </ul>
        </nav>
    </div>

</div>

<!-- Création d'un placement mutualisé -->
<div *ngIf="createMutualInvestment" class="page-content-inner">
    <!--Form Layout 1-->
    <div class="form-layout">
        <a (click)="cancelCreatingMutualInvestment()" tooltip=" Retour " theme="light" class="pagination-previous has-chevron get-potition"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg></a><br>
        <div class="form-outer">
            <div class="form-header stuck-header is-stuck">
                <div class="form-header-inner">
                    <div class="left">
                        <h3>Création d'un placement mutualisé</h3>
                    </div>
                   
                </div>
            </div>
            <div class="form-body">
                <!--Fieldset-->
                <div class="border-style">
                    <div class="form-fieldset">
                        <div class="fieldset-heading">
                            <h4>Informations du placement mutualisé </h4>
                        </div>
                        <form class="modal-form" [formGroup]="createMutualInvestmentForm" (ngSubmit)="onSubmitMutualInvestment()">
                            <div class="field">
                                <label>Nom *</label><br>
                                <div class="control">
                                    <input type="text" class="input" placeholder="nom du placement mutualisé" formControlName="name">
                                </div>
                                <div class="text-danger"
                                    *ngIf="createMutualInvestmentForm.get('name')?.errors?.['required'] && createMutualInvestmentForm.get('name')?.touched">
                                    <small class="text-police">veuillez entrer le nom du placement mutualisé</small>
                                 </div>
                            </div>
                            <div class="field">
                                <label>Selection des tirés *</label>
                                <select class="input_comp color-border" aria-label="Default select example" formControlName="idDraweeForm" [(ngModel)]="ngSelect1" (ngModelChange)="onDraweeSelected($event)">
                                    <option value="0" disabled>--Selectionnez un tiré--</option>
                                    <option *ngFor="let draweeForm of draweeForms" [value]="draweeForm.id"> <span> {{ draweeForm.description }}  </span> </option>
                                </select>
                                <div class="text-danger"
                                        *ngIf="createMutualInvestmentForm.get('idDraweeForm')?.errors?.['required'] && createMutualInvestmentForm.get('idDraweeForm')?.touched">
                                        <small class="text-police">veuillez sélectionner un formulaire de tirage au sort</small>
                                </div>
                            </div>
                            <div class="field" *ngIf="isOthers">
                                <label>Organisme</label><br>
                                <div class="control">
                                    <input type="text" class="input" placeholder="organisme" formControlName="organism">
                                </div>
                                <div class="text-danger"
                                    *ngIf="createMutualInvestmentForm.get('organism')?.errors?.['required'] && createMutualInvestmentForm.get('organism')?.touched">
                                    <small class="text-police">veuillez entrer l'organisme</small>
                                 </div>
                            </div>
                            <div class="field" *ngIf="isPhysical">
                                <label>Liste des mutualistes</label>
                                <select class="input_comp color-border" aria-label="Default select example" formControlName="idMutualist" [(ngModel)]="ngSelect2">
                                    <option value="0" disabled>--Selectionnez un mutualiste--</option>
                                    <option *ngFor="let mutualist of mutualists" [value]="mutualist.id"> <span> {{ mutualist.firstName }} {{ mutualist.lastName }}  </span> </option>
                                </select>
                                <div class="text-danger"
                                        *ngIf="createMutualInvestmentForm.get('idMutualist')?.errors?.['required'] && createMutualInvestmentForm.get('idMutualist')?.touched">
                                        <small class="text-police">veuillez sélectionner un mutualiste</small>
                                </div>
                            </div>
                            <div class="field">
                                <label>Liste des centres</label>
                                <select class="input_comp color-border" aria-label="Default select example" formControlName="idCenter" [(ngModel)]="ngSelect9">
                                    <option value="0" disabled>--Selectionnez un centre--</option>
                                    <option *ngFor="let center of centers" [value]="center.id"> <span> {{ center.name }} </span> </option>
                                </select>
                                <div class="text-danger"
                                        *ngIf="createMutualInvestmentForm.get('idCenter')?.errors?.['required'] && createMutualInvestmentForm.get('idCenter')?.touched">
                                        <small class="text-police">veuillez sélectionner un center</small>
                                </div>
                            </div>
                            <div class="field">
                                <label>Montant minimal *</label><br>
                                <div class="control">
                                    <input type="number" class="input" placeholder="montant minimal" formControlName="minimumAmount">
                                </div>
                                <div class="text-danger"              
                                    *ngIf="createMutualInvestmentForm.get('minimumAmount')?.errors?.['required'] && createMutualInvestmentForm.get('minimumAmount')?.touched">
                                    <small class="text-police">veuillez entrer le montant minimal</small>
                                 </div>
                            </div>
                            <div class="field">
                                <label>Types de rentabilités  *</label>
                                <select class="input_comp color-border" aria-label="Default select example" formControlName="idProfitabilityType" [(ngModel)]="ngSelect3" (ngModelChange)="onProfitabilitySelected($event)">
                                    <option value="0" disabled>--Selectionnez un types de rentabilité--</option>
                                    <option *ngFor="let profitabilityType of profitabilityTypes" [value]="profitabilityType.id"> <span> {{ profitabilityType.label }}  </span> </option>
                                </select>
                                <div class="text-danger"
                                        *ngIf="createMutualInvestmentForm.get('idProfitabilityType')?.errors?.['required'] && createMutualInvestmentForm.get('idProfitabilityType')?.touched">
                                        <small class="text-police">veuillez sélectionner un types de rentabilité</small>
                                </div>
                            </div>
                            <div class="field" *ngIf="isCertain">
                                <label>Taux de rentabilité </label><br>
                                <div class="control">
                                    <input type="number" class="input" placeholder="taux de rentabilité" formControlName="profitabilityRate">
                                </div>
                                <div class="text-danger"
                                    *ngIf="createMutualInvestmentForm.get('profitabilityRate')?.errors?.['required'] && createMutualInvestmentForm.get('profitabilityRate')?.touched">
                                    <small class="text-police">veuillez entrer le taux de rentabilité</small>
                                 </div>
                            </div>    
                            <div class="field">
                                <label>Types de remboursements *</label>
                                <select class="input_comp color-border" aria-label="Default select example" formControlName="idRefundType" [(ngModel)]="ngSelect4" (ngModelChange)="onRefundSelected($event)">
                                    <option value="0" disabled>--Selectionnez un type de remboursement--</option>
                                    <option *ngFor="let refundType of refundTypes" [value]="refundType.id"> <span> {{ refundType.type }}  </span> </option>
                                </select>
                                <div class="text-danger"
                                        *ngIf="createMutualInvestmentForm.get('idRefundType')?.errors?.['required'] && createMutualInvestmentForm.get('idRefundType')?.touched">
                                        <small class="text-police">veuillez sélectionner un type de remboursement</small>
                                </div>
                            </div>
                            <div class="field" *ngIf="isPeriod">
                                <label>Frequence de remboursement</label>
                                <select class="input_comp color-border" aria-label="Default select example" formControlName="idFrequency" [(ngModel)]="ngSelect5">
                                    <option value="0" disabled>--Selectionnez une frequence de remboursement--</option>
                                    <option *ngFor="let frequency of frequencies" [value]="frequency.id"> <span> {{ frequency.label }} </span> </option>
                                </select>
                                <div class="text-danger"
                                        *ngIf="createMutualInvestmentForm.get('idFrequency')?.errors?.['required'] && createMutualInvestmentForm.get('idFrequency')?.touched">
                                        <small class="text-police">veuillez sélectionner une frequence de remboursement</small>
                                </div>
                            </div>
                            <div class="field" *ngIf="isPeriod">
                                <label>Durée de l'échéance en mois</label><br>
                                <div class="control">
                                    <input type="number" class="input" placeholder="durée de l'échéance en mois" formControlName="echeanceDurationInMonths">
                                </div>
                                <div class="text-danger"
                                    *ngIf="createMutualInvestmentForm.get('echeanceDurationInMonths')?.errors?.['required'] && createMutualInvestmentForm.get('echeanceDurationInMonths')?.touched">
                                    <small class="text-police">veuillez entrer la durée de l'échec en mois</small>
                                </div>
                            </div>
                            <div class="field">
                                <label>Evaluation *</label><br>
                                <div class="control">
                                    <input type="number" class="input" placeholder="évaluation" formControlName="rating">
                                </div>
                                <div class="text-danger"
                                    *ngIf="createMutualInvestmentForm.get('rating')?.errors?.['required'] && createMutualInvestmentForm.get('rating')?.touched">
                                    <small class="text-police">veuillez entrer l'évaluation</small>
                                </div>
                            </div>
                            <div class="columns is-multiline">
                                <div class="column is-6">
                                    <div class="field">
                                        <label>Date de début *</label><br>
                                        <div class="card-header-widget datepicker-style">
                                            <div class="input-daterange input-group align-items-center">
                                                <input class="champ" formControlName="startDate" type="date" id="DOB1" name="DOB" [(ngModel)]="startDate" (input)="onSelectIsstartDate($event.timeStamp)">
                                            </div>
                                        </div>
                                        <div class="text-danger" *ngIf="createMutualInvestmentForm.get('startDate')?.errors?.['required'] && createMutualInvestmentForm.get('endDate')?.touched">
                                            <small class="text-police" translate>veuillez selectionner la date de début</small>
                                        </div>
                                    </div>
                                </div>
    
                                <div class="column is-6">
                                    <div class="field">
                                        <label>Date de fin *</label><br>
                                        <div class="card-header-widget datepicker-style">
                                            <div class="input-daterange input-group align-items-center">
                                                <input class="champ" formControlName="endDate" min="{{ minEndDate }}" type="date" id="DOB1" name="DOB" [(ngModel)]="endDate" (input)="onSelectIsendDate($event.timeStamp)">
                                            </div>
                                        </div>
                                        <div class="text-danger" *ngIf="createMutualInvestmentForm.get('endDate')?.errors?.['required'] && createMutualInvestmentForm.get('endDate')?.touched">
                                            <small class="text-police" translate>veuillez selectionner la date de fin</small>
                                        </div>
                                        <div class="text-danger" *ngIf="showErroMessage">
                                            <small class="text-police" translate>veuillez au préalable sélectionner la date de début</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           <br>
                        

                            <div class="right but-style">
                                <div class="buttons">
                                    <button (click)="cancelCreatingMutualInvestment()" id="save-button" class="button h-button is-light is-dark-outlined">Retour</button>
                                    <button [disabled]="createMutualInvestmentForm.invalid || isSaving" (click)="onCreate()" id="save-button" class="button h-button is-primary is-raised create-but">Créer</button>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- add Subscription Offer -->
<div id="addMember" class="modal h-modal" [ngClass]="openOfferModal">
    <div class="modal-background h-modal-close"></div>
    <div class="modal-content">
        <div class="modal-card">
            <header class="modal-card-head">
                <h3>Ajout Offre</h3>
                <button class="h-modal-close ml-auto" aria-label="close" (click)="closeSubscriptionOfferModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </header>
            <div class="modal-card-body">
                <div class="inner-content">
                    <form class="modal-form" [formGroup]="addSubscriptionOfferForm" (ngSubmit)="onAddSubscriptionOffer()">
                        <div class="field">
                            <label>Niveau de risque *</label>
                            <select class="input_comp color-border" aria-label="Default select example" formControlName="idProfile" [(ngModel)]="ngSelect7">
                                <option value="0" disabled>--Selectionnez un niveau de risque--</option>
                                <option *ngFor="let risk of riskProfiles" [value]="risk.id"> <span> {{ risk.riskLevel }}  </span> </option>
                            </select><br><br>
                        </div>

                        <div class="field">
                            <label>Type de rentabilité *</label>
                            <select class="input_comp color-border" aria-label="Default select example" formControlName="idProfitabilityType" [(ngModel)]="ngSelect8" (ngModelChange)="onOfferProfitabilitySelected($event)">
                                <option value="0" disabled>--Selectionnez un type de rentabilité--</option>
                                <option *ngFor="let profitability of profitabilityTypes" [value]="profitability.id"> <span> {{ profitability.label }}  </span> </option>
                            </select><br><br>
                        </div>

                        <!-- <div class="field">
                            <label>Taux de rentabilité </label><br>
                            <div class="control">
                                <input readonly type="number" class="input" [(ngModel)]="mutualInvestment.profitabilityRate" placeholder="Taux de rentabilité" formControlName="profitabilityRate" >
                            </div>
                        </div><br> -->
                        <div class="field" *ngIf="isOfferCertain">
                            <label>Taux de rentabilité </label><br>
                            <div class="control">
                                <input type="number" class="input" placeholder="Taux de rentabilité" formControlName="profitabilityRate" >
                            </div>
                        </div><br>
                       
                        <div class="control login">
                            <button class="button h-button is-primary is-bold is-fullwidth is-raised" [disabled]="addSubscriptionOfferForm.invalid || isSaving" >Enregistrer</button>
                        </div><br>
                       
                    </form>
                </div>
            </div>
            <div class="modal-card-foot is-end">
                <a class="button h-button is-rounded h-modal-close" (click)="closeSubscriptionOfferModal()">Annuler</a>
            </div>
        </div>
    </div>
</div>

<!-- add Security Deposit -->
<div id="addMember" class="modal h-modal" [ngClass]="openDepositModal">
    <div class="modal-background h-modal-close"></div>
    <div class="modal-content">
        <div class="modal-card">
            <header class="modal-card-head">
                <h3>Ajout Caution</h3>
                <button class="h-modal-close ml-auto" aria-label="close" (click)="closeSecurityDepositModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </header>
            <div class="modal-card-body">
                <div class="inner-content">
                    <form class="modal-form" [formGroup]="addSecurityDepositForm" (ngSubmit)="onAddSecurtiyDeposit()">
                        <div class="field">
                            <label>Participant *</label>
                            <select class="input_comp color-border" aria-label="Default select example" formControlName="idUser" [(ngModel)]="ngSelect6">
                                <option value="0" disabled>--Selectionnez un participant--</option>
                                <option *ngFor="let user of centerUsers" [value]="user.id"> <span> {{ user.firstName }} {{ user.lastName }}  </span> </option>
                            </select><br><br>
                        </div>
                       
                        <div class="field">
                            <label>Montant de la caution *</label><br>
                            <div class="control">
                                <input type="number" class="input" placeholder="Montant de la caution" formControlName="amount">
                            </div>
                            <div class="text-danger"
                                *ngIf="addSecurityDepositForm.get('amount')?.errors?.['required'] && addSecurityDepositForm.get('amount')?.touched">
                                <small class="text-police">veuillez entrer le montant de la caution</small>
                             </div>
                        </div>
                        <div class="control login">
                            <button class="button h-button is-primary is-bold is-fullwidth is-raised" [disabled]="addSecurityDepositForm.invalid || isSaving" >Enregistrer</button>
                        </div><br>
                       
                    </form>
                </div>
            </div>
            <div class="modal-card-foot is-end">
                <a class="button h-button is-rounded h-modal-close" (click)="closeSecurityDepositModal()">Annuler</a>
            </div>
        </div>
    </div>
</div>

<!-- update placement mutualisé -->
<div id="updateMutualInvestment" class="modal h-modal" [ngClass]="openUpdateModal">
    <div class="modal-background h-modal-close"></div>
    <div class="modal-content">
        <div class="modal-card">
            <header class="modal-card-head">
                <h3>Modifier le placement mutualisé</h3>
                <button class="h-modal-close ml-auto" aria-label="close" (click)="onCloseUpdateModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </header>
            <div class="modal-card-body">
                <div class="inner-content">
                    <form class="modal-form" [formGroup]="updateMutualInvestmentForm" (ngSubmit)="onSubmitUpdateMutualInvestment()">
                        <!-- <div class="control">
                            <input type="hidden" class="input" [(ngModel)]="mutualInvestment.id" hidden formControlName="id">
                        </div> -->
                        <div class="field">
                            <label>Nom *</label><br>
                            <div class="control">
                                <input type="text" class="input" [(ngModel)]="mutualInvestment.name" placeholder="nom" formControlName="name">
                            </div>
                            <div class="text-danger"
                                *ngIf="updateMutualInvestmentForm.get('name')?.errors?.['required'] && updateMutualInvestmentForm.get('name')?.touched">
                                <small class="text-police" translate>Entrer le nom du placement</small>
                            </div>
                        </div><br>
                        <div class="field" *ngIf="mutualInvestment.organism">
                            <label>Organisme </label><br>
                            <div class="control">
                                <input type="text" class="input" [(ngModel)]="mutualInvestment.organism" placeholder="organisme" formControlName="organism">
                            </div>
                            <div class="text-danger"
                                *ngIf="updateMutualInvestmentForm.get('organism')?.errors?.['required'] && updateMutualInvestmentForm.get('reference')?.touched">
                                <small class="text-police" translate>Entrer l'organisme du placement</small>
                            </div>
                        </div><br>
                        <div class="field">
                            <label>Montant minimal *</label><br>
                            <div class="control">
                                <textarea type="number" class="input" [(ngModel)]="mutualInvestment.minimumAmount" placeholder="Montant Minimal" formControlName="minimumAmount"></textarea>
                            </div>
                            <div class="text-danger"
                                *ngIf="updateMutualInvestmentForm.get('minimumAmount')?.errors?.['required'] && updateMutualInvestmentForm.get('minimumAmount')?.touched">
                                <small class="text-police" translate>Entrer le montant minimal du placement</small>
                            </div>
                        </div><br>
                        <div class="field" *ngIf="mutualInvestment.profitabilityRate">
                            <label>Taux de rentabilité </label><br>
                            <div class="control">
                                <input type="number" class="input" [(ngModel)]="mutualInvestment.profitabilityRate" placeholder="Taux de rentabilité" formControlName="profitabilityRate">
                            </div>
                            <div class="text-danger"
                                *ngIf="updateMutualInvestmentForm.get('profitabilityRate')?.errors?.['required'] && updateMutualInvestmentForm.get('profitabilityRate')?.touched">
                                <small class="text-police" translate>Entrer le taux de rentabilité du placement</small>
                            </div>
                        </div><br>
                        <div class="control login">
                            <button [disabled]="updateMutualInvestmentForm.invalid || isSaving"
                                class="button h-button is-primary is-bold is-fullwidth is-raised">Modifier</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-card-foot is-end">
                <a class="button h-button is-rounded h-modal-close" (click)="onCloseUpdateModal()">Annuler</a>
            </div>
        </div>
    </div>
</div>

<!-- refund placement mutualisé -->
<div id="refundMutualInvestment" class="modal h-modal" [ngClass]="openRefundModal">
    <div class="modal-background h-modal-close"></div>
    <div class="modal-content">
        <div class="modal-card">
            <header class="modal-card-head">
                <h3>Rembourser le placement mutualisé</h3>
                <button class="h-modal-close ml-auto" aria-label="close" (click)="onCloseRefundModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </header>
            <div class="modal-card-body">
                <div class="inner-content">
                    <form class="modal-form" [formGroup]="refundForm" (ngSubmit)="onSubmitRefund()">
                        <div class="field">
                            <label>Methodes de paiement *</label>
                            <select class="input_comp color-border" aria-label="Default select example" formControlName="idPaymentMethod" [(ngModel)]="ngSelect10">
                                <option value="0" disabled>--Selectionnez une methode de paiement --</option>
                                <option *ngFor="let paymentMethod of paymentMethods" [value]="paymentMethod.id"> <span> {{ paymentMethod.label }} </span> </option>
                            </select>
                            <div class="text-danger"
                                    *ngIf="refundForm.get('idPaymentMethod')?.errors?.['required'] && refundForm.get('idPaymentMethod')?.touched">
                                    <small class="text-police">veuillez sélectionner une methode de paiement</small>
                            </div>
                        </div>
                        <div class="field">
                            <label>Montant *</label><br>
                            <div class="control">
                                <input type="text" class="input" [(ngModel)]="mutualInvestment.name" placeholder="montant" formControlName="paid">
                            </div>
                            <div class="text-danger"
                                *ngIf="updateMutualInvestmentForm.get('paid')?.errors?.['required'] && updateMutualInvestmentForm.get('paid')?.touched">
                                <small class="text-police" translate>Entrer le montant</small>
                            </div>
                        </div><br>
                        <div class="field">
                            <label>Justificatif *</label><br>
                            <div class="control">
                                <input type="text" class="input" placeholder="justificatif" formControlName="proof">
                            </div>
                            <div class="text-danger"
                                *ngIf="refundForm.get('proof')?.errors?.['required'] && refundForm.get('proof')?.touched">
                                <small class="text-police" translate>Entrer le justificatif</small>
                            </div>
                        </div><br>
                        <div class="field">
                            <label>Date *</label><br>
                            <div class="card-header-widget datepicker-style">
                                <div class="input-daterange input-group align-items-center">
                                    <input formControlName="date" class="champ" type="date" max="{{ dateNow }}" id="DOB" [(ngModel)]="dateNow" (input)="onSelectDate($event.timeStamp)">
                                </div>
                           </div>
                            <div class="text-danger"
                                *ngIf="refundForm.get('date')?.errors?.['required'] && refundForm.get('date')?.touched">
                                <small class="text-police" translate>Entrer la date du remboursement</small>
                            </div>
                        </div><br>
                        <div class="control login">
                            <button [disabled]="refundForm.invalid || isSaving"
                                class="button h-button is-primary is-bold is-fullwidth is-raised">Rembourser</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-card-foot is-end">
                <a class="button h-button is-rounded h-modal-close" (click)="onCloseRefundModal()">Annuler</a>
            </div>
        </div>
    </div>
</div>