<div class="page-content-inner">
    <a (click)="backBack()" tooltip=" Retour " theme='light' class="pagination-previous has-chevron return-style"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg></a><br><br>
    <!--Pronotion Page-->
    <div class="promotion-page-wrapper">
        
        <div class="wrapper-outer">

            <div class="wrapper-inner">
                <div class="action-box">
                    <div class="box-content">
                        <div class="page-content-inner all-projects">
                            <div class="all-projects-header">
                                <div class="header-item style-session-margin">
                                    <div class="item-inner">
                                        <i class="lnil lnil-analytics-alt-1"></i>
                                        <span>{{ mutualInvestment.minimumAmount }} FCFA</span>
                                        <p>Montant minimal</p>
                                    </div>
                                </div>
                                <div class="header-item">
                                    <div class="item-inner">
                                        <i class="lnil lnil-target-alt-1"></i>
                                        <span>{{ mutualInvestment.profitabilityRate }} %</span>
                                        <p>Taux de rentabilité</p>
                                    </div>
                                </div>
                            </div>

                            <div class="all-projects-header">
                                <div class="header-item style-session-margin">
                                    <div class="item-inner">
                                        <i class="lnil lnil-analytics-alt-1"></i>
                                        <span>{{ mutualInvestment.profitabilityAmount }} FCFA</span>
                                        <p>Montant rentable </p>
                                    </div>
                                </div>
                                <div class="header-item">
                                    <div class="item-inner">
                                        <i class="lnil lnil-target-alt-1"></i>
                                        <span>{{ mutualInvestment.mutualInvestmentAccount.balance }} FCFA</span>
                                        <p>Balance</p>
                                    </div>
                                </div>
                            </div>

                            <div class="all-projects-header">
                                <div class="header-item style-session-margin">
                                    <div class="item-inner">
                                        <i class="lnil lnil-analytics-alt-1"></i>
                                        <span>{{ mutualInvestment.collectedAmount }} FCFA</span>
                                        <p>Montant collecté</p>
                                    </div>
                                </div>
                                <div class="header-item">
                                    <div class="item-inner">
                                        <i class="lnil lnil-target-alt-1"></i>
                                        <span>{{ mutualInvestment.amountToBeRefunded }} FCFA</span>
                                        <p>Montant à rembourser</p>
                                    </div>
                                </div>
                            </div>

                            <div class="all-projects-header">
                                <div class="header-item style-session-margin">
                                    <div class="item-inner">
                                        <i class="lnil lnil-pie-chart-alt"></i>
                                        <span>{{ mutualInvestment.amountRefunded }} FCFA</span>
                                        <p>Montant remboursé</p>
                                    </div>
                                </div>
                                <!-- <div class="header-item">
                                    <div class="item-inner">
                                        <i class="lnil lnil-leaf"></i>
                                        <span>{{ totalContributionReceived - totalGainMade }} FCFA</span>
                                        <p>Totale marge actuelle</p>
                                    </div>
                                </div> -->
                            </div>

                            <div class="all-projects-header">
                                <div class="header-item style-session-margin">
                                    <div class="item-inner">
                                        <i class="lnil lnil-target-alt-1"></i>
                                        <span>{{ mutualInvestment.offers.length }}</span>
                                        <p>Nombre d'offre</p>
                                    </div>
                                </div>

                                <div class="header-item">
                                    <div class="item-inner">
                                        <i class="lnil lnil-analytics-alt-1"></i>
                                        <span>{{ mutualInvestment.securityDeposits.length }}</span>
                                        <p>Nombre de caution</p>
                                    </div>
                                </div>
                            </div>
                        </div>
  
                    </div>
                </div>
            </div>

            <div class="side-wrapper">
                <div class="side-inner">
                    <div class="side-title">
                        <h3 class="dark-inverted">Details du placement mutualisé: {{mutualInvestment.name}}</h3>
                    </div>

                    <div class="action-list">
                        <div class="media-flex">
                            <div class="icon-wrap is-dark-primary is-dark-bg-3 is-dark-card-bordered">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                            </div>
                            <div class="flex-meta">
                                <span>Statut général:</span><br>
                                <span *ngIf="mutualInvestment.status === 'OPEN' " class="tag is-rounded is-cliquable is-success" tooltip=" Ouvert " theme='light' data-filter-match=""> Ouvert</span>
                                <span *ngIf="mutualInvestment.status === 'CLOSE' " class="tag is-rounded is-cliquable is-danger" tooltip=" Fermé " theme='light' data-filter-match=""> Fermé</span>
                            </div>
                        </div>
                        <div class="media-flex">
                            <div class="icon-wrap is-dark-primary is-dark-bg-3 is-dark-card-bordered">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                            </div>
                            <div class="flex-meta">
                                <span>Date début:</span><br>
                                <p>{{ mutualInvestment.startDate }}</p>
                            </div>
                        </div>
                        <div class="media-flex">
                            <div class="icon-wrap is-dark-primary is-dark-bg-3 is-dark-card-bordered">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                            </div>
                            <div class="flex-meta">
                                <span>Date fin:</span><br>
                                <p>{{ mutualInvestment.endDate }}</p>
                            </div>
                        </div>
                        <div class="media-flex">
                            <div class="icon-wrap is-dark-primary is-dark-bg-3 is-dark-card-bordered">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                            </div>
                            <div class="flex-meta">
                                <span>Centre: </span><br>
                                <p>{{ mutualInvestment.mutualCenter.name }}</p>
                            </div>
                        </div>
                        <div class="media-flex" *ngIf="mutualInvestment.mutOrganism.organismName != null" >
                            <div class="icon-wrap is-dark-primary is-dark-bg-3 is-dark-card-bordered">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                            </div>
                            <div class="flex-meta">
                                <span>Organisme:</span><br>
                                <p>{{ mutualInvestment.mutOrganism.organismName }}</p>
                            </div>
                        </div>
                        <div class="media-flex" *ngIf="mutualInvestment.mutOrganism.firstNameRepre != null" >
                            <div class="icon-wrap is-dark-primary is-dark-bg-3 is-dark-card-bordered">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                            </div>
                            <div class="flex-meta">
                                <span>Nom du représentant:</span><br>
                                <p>{{ mutualInvestment.mutOrganism.firstNameRepre }} {{ mutualInvestment.mutOrganism.lastNameRepre }}</p>
                            </div>
                        </div>
                        <div class="media-flex" *ngIf="mutualInvestment.mutOrganism.emailRepre != null" >
                            <div class="icon-wrap is-dark-primary is-dark-bg-3 is-dark-card-bordered">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                            </div>
                            <div class="flex-meta">
                                <span>Email du représentant :</span><br>
                                <p>{{ mutualInvestment.mutOrganism.emailRepre }}</p>
                            </div>
                        </div>
                        <div class="media-flex" *ngIf="mutualInvestment.mutOrganism.cityRepre != null" >
                            <div class="icon-wrap is-dark-primary is-dark-bg-3 is-dark-card-bordered">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                            </div>
                            <div class="flex-meta">
                                <span>Ville:</span><br>
                                <p>{{ mutualInvestment.mutOrganism.cityRepre }}</p>
                            </div>
                        </div>
                        <div class="media-flex" *ngIf="mutualInvestment.mutOrganism.phoneNumberRepre != null" >
                            <div class="icon-wrap is-dark-primary is-dark-bg-3 is-dark-card-bordered">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                            </div>
                            <div class="flex-meta">
                                <span>Numéro du représentant:</span><br>
                                <p>{{ mutualInvestment.mutOrganism.phoneNumberRepre }}</p>
                            </div>
                        </div>
                        <div class="media-flex">
                            <div class="icon-wrap is-dark-primary is-dark-bg-3 is-dark-card-bordered">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                            </div>
                            <div class="flex-meta">
                                <span>Type de rentabilité:</span><br>
                                <p>{{ mutualInvestment.profitabilityType.label }}</p>
                            </div>
                        </div>
                        <div class="media-flex">
                            <div class="icon-wrap is-dark-primary is-dark-bg-3 is-dark-card-bordered">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                            </div>
                            <div class="flex-meta">
                                <span>Type de remboursement:</span><br>
                                <p>{{ mutualInvestment.refundType.type }}</p>
                            </div>
                        </div>
                        <div class="media-flex" *ngIf="mutualInvestment.refundFrequency != null">
                            <div class="icon-wrap is-dark-primary is-dark-bg-3 is-dark-card-bordered">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                            </div>
                            <div class="flex-meta">
                                <span>Frequence de remboursement:</span><br>
                                <p>{{ mutualInvestment.refundFrequency }}</p>
                            </div>
                        </div>
                        <!-- <div class="media-flex">
                            <div class="icon-wrap is-dark-primary is-dark-bg-3 is-dark-card-bordered">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                            </div>
                            <div class="flex-meta">
                                <span>Fréquence de remboursement:</span><br>
                                <p>{{ mutualInvestment.refundFrequency.label }}</p>
                            </div>
                        </div> -->
                        <div class="media-flex">
                            <div class="icon-wrap is-dark-primary is-dark-bg-3 is-dark-card-bordered">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                            </div>
                            <div class="flex-meta">
                                <span>Statut placement:</span><br>
                                <span class="tag is-rounded is-cliquable is-danger" data-filter-match="" *ngIf="mutualInvestment.mutualInvesmentStatus === 'BLOCKED'">Bloqué</span>
                                <span class="tag is-rounded is-cliquable is-success" data-filter-match="" *ngIf="mutualInvestment.mutualInvesmentStatus === 'UNLOCKED'">Debloqué</span>
                            </div>
                        </div>
                        <div class="media-flex">
                            <div class="icon-wrap is-dark-primary is-dark-bg-3 is-dark-card-bordered">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                            </div>
                            <div class="flex-meta">
                                <span>Statut remboursement:</span><br>
                                <span class="tag is-rounded is-cliquable is-success" data-filter-match="" *ngIf="mutualInvestment.refundStatus === 'PAID'">Remboursé</span>
                                <span class="tag is-rounded is-cliquable is-danger" data-filter-match="" *ngIf="mutualInvestment.refundStatus === 'UNPAID'">Non-remboursé</span>
                                <span class="tag is-rounded is-cliquable is-danger" data-filter-match="" *ngIf="mutualInvestment.refundStatus === 'EXPIRED'">Expiré</span>
                            </div>
                        </div>
                        <div class="media-flex">
                            <div class="icon-wrap is-dark-primary is-dark-bg-3 is-dark-card-bordered">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                            </div>
                            <div class="flex-meta">
                                <span>Statut distribution:</span><br>
                                <span class="tag is-rounded is-cliquable is-success" data-filter-match="" *ngIf="mutualInvestment.distributionStatus === 'DISTRIBUTED'">Distribué</span>
                                <span class="tag is-rounded is-cliquable is-danger" data-filter-match="" *ngIf="mutualInvestment.distributionStatus === 'NOTDISTRIBUTED'">Non-distribué</span>
                            </div>
                        </div>
                        <div class="media-flex" *ngIf="mutualInvestment.percentageMutual != null">
                            <div class="icon-wrap is-dark-primary is-dark-bg-3 is-dark-card-bordered">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                            </div>
                            <div class="flex-meta">
                                <span>Pourcentage de la mutuelle:</span><br>
                                <p>{{ mutualInvestment.percentageMutual }}%</p>
                            </div>
                        </div>
                        <div class="media-flex" *ngIf="mutualInvestment.percentageOfFunders != null">
                            <div class="icon-wrap is-dark-primary is-dark-bg-3 is-dark-card-bordered">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                            </div>
                            <div class="flex-meta">
                                <span>Pourcentage des pouvoyeurs de fonds:</span><br>
                                <p>{{ mutualInvestment.percentageOfFunders }}%</p>
                            </div>
                        </div>
                        <div class="media-flex" *ngIf="mutualInvestment.percentageOfGuarantees != null">
                            <div class="icon-wrap is-dark-primary is-dark-bg-3 is-dark-card-bordered">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                            </div>
                            <div class="flex-meta">
                                <span>Pourcentage des cautionneurs:</span><br>
                                <p>{{ mutualInvestment.percentageOfGuarantees }}%</p>
                            </div>
                        </div>
                        <div class="media-flex" *ngIf="mutualInvestment.percentageOfPassiveIncomeFund != null">
                            <div class="icon-wrap is-dark-primary is-dark-bg-3 is-dark-card-bordered">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                            </div>
                            <div class="flex-meta">
                                <span>Pourcentage des entrées passives:</span><br>
                                <p>{{ mutualInvestment.percentageOfPassiveIncomeFund }}%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
