    <div id="huro-app" class="app-wrapper">

        <!--Full pageloader-->
        <!-- Pageloader -->
        <div class="pageloader is-full"></div>
        <div class="infraloader is-full"></div>
        <div class="auth-wrapper">
            <!--Page body-->

            <div class="auth-wrapper-inner is-single">

                <!--Fake navigation-->
                <div class="auth-nav">
                    <div class="left"></div>
                    <div class="center">
                        <!-- <a href="/" class="header-item">
                            <img class="light-image" src="assets/img/logos/logo/logo.svg" alt="">
                            <img class="dark-image" src="assets/img/logos/logo/logo-light.svg" alt="">
                        </a> -->
                    </div>
                    <div class="right">
                        <label class="dark-mode ml-auto">
                            <input type="checkbox" checked="">
                            <span></span>
                        </label>
                    </div>
                </div>

                <!--Single Centered Form-->
                <div class="single-form-wrap">

                    <div class="inner-wrap">
                        <!--Form Title-->
                        <div class="auth-head">
                            <h2>Join Us Now.</h2>
                            <p>Start by creating your account</p>
                            <a routerLink="/login">I already have an account </a>
                        </div>

                        <!--Form-->
                        <div class="form-card">

                            <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
                                <div id="signin-form" class="login-form">
                                    <div class="field">
                                        <div class="control has-icon">
                                            <input class="input" type="text" formControlName="firstName" placeholder="Prenom">
                                            <span class="form-icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                                </span>
                                        </div>
                                        <div class="text-danger"
                                            *ngIf="signUpForm.get('firstName')?.errors?.['required'] && signUpForm.get('firstName')?.touched">
                                           <small class="text-police">Veuillez entrer votre prénom</small>
                                       </div>
                                    </div>
                                     <!-- Input -->
                                    <div class="field">
                                        <div class="control has-icon">
                                            <input class="input" type="text" formControlName="lastName" placeholder="Nom">
                                            <span class="form-icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                                </span>
                                        </div>
                                        <div class="text-danger"
                                            *ngIf="signUpForm.get('lastName')?.errors?.['required'] && signUpForm.get('lastName')?.touched">
                                           <small class="text-police">Veuillez entrer votre nom</small>
                                       </div>
                                    </div>
                                    <!-- Input -->
                                    <div class="field">
                                        <div class="control has-icon">
                                            <input class="input" type="email" formControlName="userName" placeholder="Adresse mail">
                                            <span class="form-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                                                </span>
                                        </div>
                                        <div class="text-danger"
                                            *ngIf="signUpForm.get('userName')?.errors?.['required'] && signUpForm.get('userName')?.touched">
                                           <small class="text-police">Veuillez entrer votre adresse mail</small>
                                       </div>
                                    </div>
                                    <!-- Input -->
                                    <div class="field">
                                        <div class="control has-icon">
                                            <input class="input" type="text" formControlName="phoneNumber" placeholder="Phone Number">
                                            <span class="form-icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                                </span>
                                        </div>

                                        <div class="text-danger"
                                        *ngIf="signUpForm.get('phoneNumber')?.errors?.['required'] && signUpForm.get('phoneNumber')?.touched">
                                        <small class="text-police">Veuillez entrer votre numéro de téléphone</small>
                                        </div>
                                    </div>
                                    <!-- Input -->
                                    <div class="field">
                                        <div class="control has-icon">
                                            <input class="input" type="password" formControlName="password" placeholder="Password">
                                            <span class="form-icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
                                           </span>
                                        </div>
                                        <div class="text-danger"
                                        *ngIf="signUpForm.get('password')?.errors?.['required'] && signUpForm.get('password')?.touched">
                                        <small class="text-police">Veuillez entrer votre mot de passe</small>
                                        </div>
                                    </div>
                                    <!-- Input -->
                                    <div class="field">
                                        <div class="control has-icon">
                                            <input class="input" type="password" formControlName="confPassword" placeholder="Confirm Password">
                                            <span class="form-icon">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"></rect><path d="M7 11V7a5 5 0 0 1 10 0v4"></path></svg>
                                                </span>
                                        </div>

                                        <div class="text-danger"
                                        *ngIf="signUpForm.get('confPassword')?.errors?.['required'] && signUpForm.get('confPassword')?.touched">
                                        <small class="text-police">Veuillez entrer confirmer mot de passe</small>
                                        </div>
                                    </div>

                                    <div class="setting-item">
                                        <label class="form-switch is-primary">
                                            <input type="checkbox" class="is-switch" id="busy-mode-toggle">
                                            <i></i>
                                        </label>
                                        <div class="setting-meta">
                                            <span>Receive promotional offers</span>
                                        </div>
                                    </div>

                                    <!-- Submit -->
                                    <div class="control login">
                                        <button [disabled]="signUpForm.invalid" class="button h-button is-primary is-bold is-fullwidth is-raised">Sign Up</button>
                                    </div>

                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>