<div class="list-flex-toolbar">
    <div class="control has-icon">
        <input class="input custom-text-filter" placeholder="Search..." data-filter-target=".flex-table-item">
        <div class="form-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
        </div>
    </div>

    <div class="buttons">
        <button (click)="onOpenCreateTontine()" class="button h-button is-primary is-elevated">
            <span class="icon">
              <i aria-hidden="true" class="fas fa-plus"></i>
          </span>
            <span>Ajouter une tontine</span>
        </button>
    </div>
</div>

<div class="page-content-inner">

    <div class="flex-list-wrapper flex-list-v1">

        <!--List Empty Search Placeholder -->
        <div class="page-placeholder custom-text-filter-placeholder is-hidden">
            <div class="placeholder-content">
                <img class="light-image" src="assets/img/illustrations/placeholders/search-4.svg" alt="">
                <img class="dark-image" src="assets/img/illustrations/placeholders/search-4-dark.svg" alt="">
                <h3>We couldn't find any matching results.</h3>
                <p class="is-larger">Too bad. Looks like we couldn't find any matching results for the
                    search terms you've entered. Please try different search terms or criteria.</p>
            </div>
        </div>


        <div class="flex-table">

            <!--Table header-->
            <div class="flex-table-header" data-filter-hide="">
                <!-- <span class="is-grow">Id</span> -->
                <span>Solde du compte</span>
                <!-- <span>Lots attribués</span> -->
                <span>Montant collecté</span>
                <!-- <span>Pénalités collectées</span>
                <span>Lots à attribuer</span>
                <span>Membres sans pénalités</span> -->
                <span>Nom</span>
                <span>Plan d’épargne de base</span>
                <span>Membres inscrits</span>
                <span>Cycle</span>
                <span class="cell-end">Actions</span>
            </div>

            <div class="flex-list-inner">
                <!--Table item-->
                <div class="flex-table-item" *ngFor="let operation of operations">
                    <!-- <div class="flex-table-cell is-media is-grow">
                        <div>
                            <span class="item-name dark-inverted" data-filter-match="">{{ operation.tontine.id }}</span>
                            <span class="item-meta">
                              <span data-filter-match="">{{ operation.tontine.accountBalance }}</span>
                            </span>
                        </div>
                    </div> -->
                    <div class="flex-table-cell" data-th="Nom">
                        <span class="light-text" data-filter-match="">{{ operation.tontine.accountBalance }}</span>
                    </div>
                    <!-- <div class="flex-table-cell" data-th="Prenom">
                        <span class="light-text" data-filter-match="">{{ operation.tontine.awardedLots }}</span>
                    </div> -->
                    <div class="flex-table-cell" data-th="Numéro tél">
                        <span class="light-text" data-filter-match="">{{ operation.tontine.collectedAmount }}</span>
                    </div>
                    <!-- <div class="flex-table-cell" data-th="Email">
                        <span class="light-text" data-filter-match="">{{ operation.tontine.collectedPenalties }}</span>
                    </div>
                    <div class="flex-table-cell" data-th="Ville">
                        <span class="light-text" data-filter-match="">{{ operation.tontine.lotsToBeAwarded }}</span>
                    </div>
                    <div class="flex-table-cell" data-th="Filleuls">
                        <span class="light-text" data-filter-match="">{{ operation.tontine.membersWithoutPenalties }}</span>
                    </div> -->
                    <div class="flex-table-cell" data-th="Filleuls">
                        <span class="light-text" data-filter-match="">{{ operation.tontine.name }}</span>
                    </div>
                    <div class="flex-table-cell" data-th="Filleuls">
                        <span class="light-text" data-filter-match="">{{ operation.tontine.peb }}</span>
                    </div>
                    <div class="flex-table-cell" data-th="Filleuls">
                        <span class="light-text" data-filter-match="">{{ operation.tontine.registeredMembers }}</span>
                        <a class="pagination-previous has-chevron" (click)="onOpenAddMember(operation.owner.id, operation.tontine.level.label,  operation.tontine.id)"><i class="lnir lnir-plus"></i></a>
                        <a _ngcontent-nct-c62="" [routerLink]="['/view-more-participant']"
                        [queryParams]="{id: operation.tontine.id}" class="pagination-previous has-chevron" style="color: blue"> <i class="lnil lnil-eye"></i></a>
                    </div>

                    <div class="flex-table-cell" data-th="Filleuls">
                        <a class="pagination-previous has-chevron" (click)="onOpenAddMember(operation.owner.id, operation.tontine.level.label,  operation.tontine.id)"><i class="lnir lnir-plus"></i></a>
                        <!-- <a _ngcontent-nct-c62="" class="pagination-previous has-chevron" style="color: blue"> <i class="lnil lnil-eye"></i></a> -->
                    </div>

                    <div class="flex-table-cell cell-end" data-th="Actions">
                        <div class="dropdown is-spaced is-dots is-right dropdown-trigger is-pushed-mobile">
                        <a _ngcontent-nct-c62=""  (click)="onUpdateTontine(operation.tontine.id)" class="pagination-previous has-chevron"><i class="lnir lnir-pencil"></i></a>
                        <a _ngcontent-nct-c62="" (click)="onOpenDetailModel(operation.tontine.id)" class="pagination-previous has-chevron" style="color: blue"> <i class="lnil lnil-eye"></i></a>
                        <a _ngcontent-nct-c62="" (click)="onDelate(operation.tontine.id)" class="pagination-previous has-chevron" style="color: brown"><i class="lnil lnil-trash-can-alt"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--Table Pagination-->
        <nav class="flex-pagination pagination is-rounded" aria-label="pagination" data-filter-hide="">
            <a class="pagination-previous has-chevron"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg></a>
            <a class="pagination-next has-chevron"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg></a>
            <ul class="pagination-list">
                <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                <li><span class="pagination-ellipsis">…</span></li>
                <li><a class="pagination-link" aria-label="Goto page 45">45</a></li>
                <li><a class="pagination-link is-current" aria-label="Page 46" aria-current="page">46</a>
                </li>
                <li><a class="pagination-link" aria-label="Goto page 47">47</a></li>
                <li><span class="pagination-ellipsis">…</span></li>
                <li><a class="pagination-link" aria-label="Goto page 86">86</a></li>
            </ul>
        </nav>
    </div>

</div>

<!--create Tontine-->
<div id="createTontine" class="modal h-modal" [ngClass]="openCreateModal">
    <div class="modal-background h-modal-close"></div>
    <div class="modal-content">
        <div class="modal-card">
            <header class="modal-card-head">
                <h3>Création d'une tontine</h3>
                <button class="h-modal-close ml-auto" aria-label="close" (click)="closeCreateTontineModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </header>
            <div class="modal-card-body">
                <div class="inner-content">
                    <form class="modal-form" [formGroup]="createTontineForm" (ngSubmit)="onSubmitCreateTontine()">
                        <div class="field">
                            <label>Nom*</label><br>
                            <div class="control">
                                <input type="text" class="input" placeholder="Nom de la tontine" formControlName="name">
                            </div>
                            <div class="text-danger"
                                *ngIf="createTontineForm.get('name')?.errors?.['required'] && createTontineForm.get('name')?.touched">
                                <small class="text-police">veuillez entrer le nom de la tontine</small>
                             </div>
                        </div>
                        <div class="field">
                            <label>Plan d’épargne de base(FCFA)*</label><br>
                            <div class="control">
                                <input type="number" class="input" placeholder="plan d’épargne de base" formControlName="peb">
                            </div>
                            <div class="text-danger"
                                *ngIf="createTontineForm.get('peb')?.errors?.['required'] && createTontineForm.get('peb')?.touched">
                                <small class="text-police">veuillez entrer le plan d’épargne de base</small>
                             </div>
                        </div>
                        <label>Club propriétaire de la tontine*</label>
                        <select class="input_comp color-border" aria-label="Default select example" formControlName="idClub" [(ngModel)]="ngSelect2">
                            <option value="0" disabled>--Selectionnez un club--</option>
                            <option *ngFor="let club of clubs" [value]="club.id"> <span> {{ club.name }}  </span> </option>
                        </select>
                        <div class="text-danger"
                                *ngIf="createTontineForm.get('id')?.errors?.['required'] && createTontineForm.get('id')?.touched">
                                <small class="text-police">veuillez selectionner un club</small>
                        </div>
                        <br><br>
                        <label>Fréquence de cotisation  *</label>
                        <select class="input_comp color-border" aria-label="Default select example" formControlName="idFrequenceCot" [(ngModel)]="ngSelect3">
                            <option value="0" disabled>--Selectionnez une fréquence de cotisation--</option>
                            <option *ngFor="let frequency of frequencies" [value]="frequency.id"> <span> {{ frequency.label }}</span> </option>
                        </select>
                        <br><br>
                        <label>Fréquence des séances de tontine  *</label>
                        <select class="input_comp color-border" aria-label="Default select example" formControlName="idFrequenceSea" [(ngModel)]="ngSelect4">
                            <option value="0" disabled>--Selectionnez une fréquence des séances de tontine--</option>
                            <option *ngFor="let frequency of frequencies" [value]="frequency.id"> <span> {{ frequency.label }}  </span> </option>
                        </select>
                        <br><br>
                        <label>Niveau de transversalité *</label>
                        <select class="input_comp color-border" aria-label="Default select example" formControlName="idTransv" [(ngModel)]="ngSelect5">
                            <option value="0" disabled>--Selectionnez le niveau de transversalité--</option>
                            <option *ngFor="let level of levels" [value]="level.id"> <span> {{ level.label }} </span> </option>
                        </select>
                        <br><br>
                        <label>Mode de gain *</label>
                        <select class="input_comp color-border" aria-label="Default select example" formControlName="idGain" [(ngModel)]="ngSelect6">
                            <option value="0" disabled>--Selectionnez le mode de gain--</option>
                            <option *ngFor="let gain of gains" [value]="gain.id"> <span> {{ gain.label }} </span> </option>
                        </select>
                        <br><br>
                        <div class="control login">
                            <button class="button h-button is-primary is-bold is-fullwidth is-raised" [disabled]="createTontineForm.invalid" >Créer</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-card-foot is-end">
                <a class="button h-button is-rounded h-modal-close" (click)="closeCreateTontineModal()">Cancel</a>
            </div>
        </div>
    </div>
</div>

<!--update Tontine-->
<div id="updateTontine" class="modal h-modal" [ngClass]="openUpdateModal">
    <div class="modal-background h-modal-close"></div>
    <div class="modal-content">
        <div class="modal-card">
            <header class="modal-card-head">
                <h3>modification d'une tontine</h3>
                <button class="h-modal-close ml-auto" aria-label="close" (click)="closeUpdateTontineModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </header>
            <div class="modal-card-body">
                <div class="inner-content">
                    <form class="modal-form" [formGroup]="updateTontineForm" (ngSubmit)="onSubmitUpdateTontine()">
                        <div class="field">
                            <input type="hidden" class="input" [(ngModel)]="tontine.id" formControlName="idTontine">
                            <label>Nom*</label><br>
                            <div class="control">
                                <input type="text" class="input" [(ngModel)]="tontine.name" formControlName="name">
                            </div>
                            <div class="text-danger"
                                *ngIf="updateTontineForm.get('name')?.errors?.['required'] && updateTontineForm.get('name')?.touched">
                                <small class="text-police">veuillez entrer le nom de la tontine</small>
                             </div>
                        </div>
                        <!-- <div class="field">
                            <label>Plan d’épargne de base*</label><br>
                            <div class="control">
                                <input type="number" class="input" [(ngModel)]="tontine.peb" formControlName="peb">
                            </div>
                            <div class="text-danger"
                                *ngIf="updateTontineForm.get('peb')?.errors?.['required'] && updateTontineForm.get('peb')?.touched">
                                <small class="text-police">veuillez entrer le plan d’épargne de base</small>
                             </div>
                        </div> -->

                        <br>
                        <div class="control login">
                            <button class="button h-button is-primary is-bold is-fullwidth is-raised" [disabled]="updateTontineForm.invalid" >Modifier</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-card-foot is-end">
                <a class="button h-button is-rounded h-modal-close" (click)="closeUpdateTontineModal()">Cancel</a>
            </div>
        </div>
    </div>
</div>
<!-- add memeber -->
<div id="addMember" class="modal h-modal" [ngClass]="openMemberModal">
    <div class="modal-background h-modal-close"></div>
    <div class="modal-content">
        <div class="modal-card">
            <header class="modal-card-head">
                <h3>Ajout Participant</h3>
                <button class="h-modal-close ml-auto" aria-label="close" (click)="closeMemberModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </header>
            <div class="modal-card-body">
                <div class="inner-content">
                    <form class="modal-form" [formGroup]="addMemberForm" (ngSubmit)="onAddMember()">
                        <label>Participants *</label>
                        <select class="input_comp color-border" aria-label="Default select example" formControlName="id" [(ngModel)]="ngSelect">
                            <option value="0" disabled>--Selectionnez un participant--</option>
                            <option *ngFor="let member of users" [value]="member.id"> <span> {{ member.firstName }}-{{ member.lastName }}  </span> </option>
                        </select><br><br>
                        <div class="field">
                            <label>Nombre de bras*</label><br>
                            <div class="control">
                                <input type="text" class="input" placeholder="Nombre de bras" formControlName="planValue">
                            </div>
                            <div class="text-danger"
                                *ngIf="addMemberForm.get('planValue')?.errors?.['required'] && addMemberForm.get('planValue')?.touched">
                                <small class="text-police">veuillez entrer le nombre de bras du participant</small>
                             </div>
                        </div>
                        <div class="control login">
                            <button class="button h-button is-primary is-bold is-fullwidth is-raised" [disabled] ="addMemberForm.invalid" >Save</button>
                        </div><br>
                       
                    </form>
                </div>
            </div>
            <div class="modal-card-foot is-end">
                <a class="button h-button is-rounded h-modal-close" (click)="closeMemberModal()">Cancel</a>
            </div>
        </div>
    </div>
</div>

<div id="demo-big-modal" class="modal h-modal is-big" [ngClass]="openDetailModal">
    <div class="modal-background h-modal-close"></div>
    <div class="modal-content">
        <div class="modal-card">
            <header class="modal-card-head">
                <h3>Details tontine</h3>
                <button class="h-modal-close ml-auto" aria-label="close" (click)="closeDetailModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                </button>
            </header>
            
            <div class="modal-card-body">
                <div class="columns is-multiline">
                    <div class="column is-6">
                        <div class="field">
                            <label>Lots à attribuer: </label>
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="field">
                            {{ operation.tontine.lotsToBeAwarded }}
                        </div>
                    </div>
                </div>
                <div class="columns is-multiline">
                    <div class="column is-6">
                        <div class="field">
                            <label>Lots attribués: </label>
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="field">
                            {{ operation.tontine.awardedLots }}
                        </div>
                    </div>
                </div>
                <div class="columns is-multiline">
                    <div class="column is-6">
                        <div class="field">
                            <label>Membres inscrits: </label>
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="field">
                            {{ operation.tontine.registeredMembers }}
                        </div>
                    </div>
                </div>
                <div class="columns is-multiline">
                    <div class="column is-6">
                        <div class="field">
                            <label>Membres sans pénalités: </label>
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="field">
                            {{ operation.tontine.membersWithoutPenalties }}
                        </div>
                    </div>
                </div>
                <div class="columns is-multiline">
                    <div class="column is-6">
                        <div class="field">
                            <label>Lots à attribuer: </label>
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="field">
                            {{ operation.tontine.lotsToBeAwarded }}
                        </div>
                    </div>
                </div>
                <div class="columns is-multiline">
                    <div class="column is-6">
                        <div class="field">
                            <label>Pénalités collectées: </label>
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="field">
                            {{ operation.tontine.collectedPenalties }}
                        </div>
                    </div>
                </div>
                <div class="columns is-multiline">
                    <div class="column is-6">
                        <div class="field">
                            <label>Club: </label>
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="field">
                            {{ operation.owner.name }}
                        </div>
                    </div>
                </div>
                <div class="columns is-multiline">
                    <div class="column is-6">
                        <div class="field">
                            <label>Niveau de transversalité: </label>
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="field">
                            {{ operation.tontine.level.label }}
                        </div>
                    </div>
                </div>

                <div class="columns is-multiline">
                    <div class="column is-6">
                        <div class="field">
                            <label>Fréquence de contribution: </label>
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="field">
                            {{ operation.tontine.contributionFrequency.label }}
                        </div>
                    </div>
                </div>

                <div class="columns is-multiline">
                    <div class="column is-6">
                        <div class="field">
                            <label>Séance de tontine: </label>
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="field">
                            {{ operation.tontine.tontineSessionFrequency.label }}
                        </div>
                    </div>
                </div>

                <div class="columns is-multiline">
                    <div class="column is-6">
                        <div class="field">
                            <label>Mode de gain: </label>
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="field">
                            {{ operation.tontine.gainMode.label }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-card-foot is-centered">
                <a class="button h-button is-rounded h-modal-close" (click)="closeDetailModal()">Annuler</a>
            </div>
        </div>
    </div>
</div>

